/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * CSS classes
 *
 * @author    Qualiteam software Ltd <info@x-cart.com>
 * @copyright Copyright (c) 2011-2014 Qualiteam software Ltd <info@x-cart.com>. All rights reserved
 * @license   http://www.x-cart.com/license-agreement.html X-Cart 5 License Agreement
 * @link      http://www.x-cart.com/
 */

.products .product-list-market-price {
  color: #8f8f8f;
  font-size: 14px;
  font-style: italic;
  text-decoration: line-through;
  display: inline;
  float: left;
  padding-right: 10px;
  margin-top: 0.9em;
}

ul.products.products-sidebar .product-list-market-price {
  font-size: 12px;
  margin-top: 0.5em;
  padding-right: 5px;
}

.product-cell div.product-details-market-price .text,
.product-quicklook div.product-details-market-price ul.labels,
.products-grid div.product-details-market-price ul.labels,
.products-sidebar ul.labels .market-price
{
  display: none;
}

.products-table .product-price .product-details-market-price,
.products-table .product-price ul.product-price
{
  display: inline-block;  
}

.products-table div.product-price {
  white-space: nowrap;
}

.products-sidebar div.product-details-market-price ul.labels .market-price
{
  display: block;
}

div.product-details-market-price div.text {
  display: inline;
  font-size: 16px;
  color: #8f8f8f;
  vertical-align: middle;
}

div.product-details-market-price ul.labels {
  display: inline-block;
  margin-bottom: -8px;
}

.items-list td.product-cell div.product-details-market-price ul.labels {
  display: none;
}

div.product-details-market-price ul.labels li,
div.product-details-market-price ul.labels li div {
  display: inline-block;
}

div.product-details-market-price div.text span.value {
  text-decoration: line-through;
}

div.product-details-market-price div.text span.you-save {
  color: #ff9000;
}
