/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * File uploader
 *
 * @author    Qualiteam software Ltd <info@x-cart.com>
 * @copyright Copyright (c) 2011-2014 Qualiteam software Ltd <info@x-cart.com>. All rights reserved
 * @license   http://www.x-cart.com/license-agreement.html X-Cart 5 License Agreement
 * @link      http://www.x-cart.com/
 */

div.file-uploader .input-delete {
  display: none;
}

div.multiple-files .ui-state-highlight,
div.file-uploader a.link,
div.file-loading,
div.file-uploader .preview,
div.file-uploader {
  width: 124px;
  height: 124px;
  display: block;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

div.file-uploader .preview {
  text-align: center;
  padding: 1px;
  max-width: 123px;
  margin-left: -1px;
  margin-top: -1px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
}

.items-list-table div.multiple-files .ui-state-highlight,
.items-list-table div.file-uploader a.link,
.items-list-table div.file-loading,
.items-list-table div.file-uploader .preview,
.items-list-table div.file-uploader {
  width: 42px;
  height: 42px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.items-list-table div.file-uploader,
.items-list-table div.file-loading {
  position: absolute;
  top: -22px;
  left: -12px;
}

div.multiple-files .ui-state-highlight,
div.multiple-files div.file-loading,
div.multiple-files div.file-uploader {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  background: #fff;
}

div.file-uploader,
div.file-uploader.remove-mark:hover
{
  border: 1px dashed #c3c3c3;
}

div.file-uploader.solid,
div.file-uploader.remove-mark.solid:hover
{
  border-style: solid;
}

div.file-uploader div.icon {
  left: 95px;
  top: 95px;
  position: absolute;
  font-size: 14px;
  background: #fff;
  color: #76afcd;
  width: 28px;
  height: 28px;
  text-align: center;
  padding-top: 3px;
  -moz-border-radius: 3px 0;
  -webkit-border-radius: 3px 0;
  border-radius: 3px 0;
}

.items-list-table div.file-uploader div.icon {
  left: 27px;
  top: 25px;
  width: 14px;
  height: 16px;
  -moz-border-radius: 3px 0;
  -webkit-border-radius: 3px 0;
  border-radius: 3px 0;
}

div.file-uploader .icon .fa,
div.file-uploader .button-icon {
  font-size: 14px;
}

.items-list-table div.file-uploader .icon .fa {
  font-size: 10px;
  top: -8px;
  position: relative;
}

div.file-uploader:hover {
  border-color: #76afcd;
}

div.file-uploader:hover div.icon {
  background: #76afcd;
  color: #fff;
}

div.file-uploader .dropdown-menu {
  left: 96px;
  top: 126px;
}

.items-list-table div.file-uploader .dropdown-menu {
  left: 27px;
  top: 44px;
}

div.file-uploader .dropdown-menu li a.from-computer:hover .button-icon.fa-sign-out,
div.file-uploader a.from-computer .button-icon.fa-sign-out {
  top: -3px;
  position: relative;
}

div.file-uploader input[type=file] {
  display: none !important;
}

div.file-uploader .dropdown-menu .message {
  padding: 10px 15px;
  color: #ffbb15
}

div.file-uploader .dropdown-menu .message i.fa {
  font-size: 14px;
  margin-right: 6px;
}

.items-list-table table.list div.file-uploader a {
  text-decoration: none;
}

div.file-uploader i.icon {
  color: #f4f4f4;
  font-size: 55px;
  padding: 34px 32px;
}

.items-list-table div.file-uploader i.icon {
  font-size: 25px;
  padding: 8px 7px;
}

div.file-uploader i.icon.warning {
  color: #ffbb15;
  font-size: 40px;
  padding: 42px;
}

.items-list-table div.file-uploader i.icon.warning {
  font-size: 20px;
  padding: 10px;
}

div.file-uploader.remove-mark div.preview {
  filter: alpha(opacity=10);
  opacity: .1;
}

div.file-uploader .dropdown-menu li.undelete,
div.file-uploader.remove-mark .dropdown-menu li {
  display: none;
}

div.file-uploader.remove-mark .dropdown-menu li.undelete {
  display: list-item;
}

div.file-uploader.remove-mark .dropdown-menu li.undelete .menuitem {
  position: relative;
}

div.file-uploader.remove-mark .dropdown-menu li.undelete .diagonal {
  position: absolute;
  top: 17px;
  left: 11px;
  border: 1px solid #fff;
  background: #091e42;
  width: 20px;
  height: 3px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

div.file-uploader .dropdown-menu li.alt-text {
  padding: 5px;
}

div.file-uploader .dropdown-menu li.alt-text .input-group {
  display: none;
}

div.file-uploader .dropdown-menu li.alt-text .input-group input {
  width: 100%;
}

div.file-uploader .dropdown-menu li.alt-text .value b {
  color: #154bab;
  margin-right: 5px;
}

div.file-uploader .dropdown-menu li.alt-text .value {
  border: 1px solid transparent;
  padding: 2px 5px;
  overflow: hidden;
  width: 188px;
  position: relative;
}

div.file-uploader .dropdown-menu li.alt-text .value:hover .right-fade {
  display: none;
}

div.file-uploader .dropdown-menu li.alt-text .value:hover {
  cursor: pointer;
  background-color: #faf5dd;
  border: 1px solid #e0dabc;
}

div.file-uploader .dropdown-menu {
  min-width: 200px;
}

div.file-uploader .spinner {
  margin: 48px;
}

.items-list-table div.file-uploader .spinner {
  margin: 7px;
}

div.file-uploader a {
  outline: 0 none;
}

.items-list-table table.list tbody tr.line.remove-mark div.file-uploader .dropdown-menu {
  visibility: hidden;
}
