{* vim: set ts=2 sw=2 sts=2 et: *}

<h1 class="original">Бесплатная Доставка по Москве</h1>

<img src="{getStaticImage(#shipping/shipping_man.png#)}" class="img-responsive" style="float: right;">

<p>Доставка по Москве осуществляется курьерской службой компании <a href="http://lamarant.ru">LaMarant</a>!</p>

<ul class="shipping-ul">
  <li><i class="shipping-icon door"></i> Доставка до «двери»</li>
  <li><i class="shipping-icon work-time"></i> Время работы курьеров с 9:00 до 22:00</li>
  <li class="shipping-time"><i class="shipping-icon shipping-time"></i> Минимальный срок доставки 2 часа с момента подтверждения заказа.</li>
  <li><i class="shipping-icon payment"></i> Оплата осуществляется в момент получения заказа.</li>

</ul>


<h1 class="original">Доставка по России</h1>

<p>Доставка по России осуществляется надежным партнером компании LaMarant:</p>
<p><strong>EMS Почта России (наложенным платежом).</strong></p>
<p>Сотрудник EMS доставляет посылку до вашей двери (предварительно связавшись с вами по телефону).</p>
<p>Стоимость посылки 300-700 руб.</p>
<p>Стоимость может увеличиться придобавлении каждой новой вещи к заказу.</p>
<p>Срок доставки 3-5 дней!</p>
<p>Отправление заказа осуществляется в течение 1-2 дней после оформления.</p>
<p>Для отправки посылки потребуется:</p>
<ol>
  <li>Ваше ФИО</li>
  <li>Ваш адрес</li>
  <li>Ваш индекс</li>
  <li>Контактный номер телефона</li>
</ol>

<p>После отправки Вы получаете номер отправления посылки.</p>
<p>Вы можете отследить ее местонахождения на сайте EMS Почты России.</p>
<p>Если с момента отправления посылки прошло более 15 дней, то о ее местонахождении и причинах задержки можно узнать по телефону: 8-800-2005-888 - звонок бесплатный!</p>
