{* vim: set ts=2 sw=2 sts=2 et: *}

{**
 * Hard reset
 *
 * @author    Qualiteam software Ltd <info@x-cart.com>
 * @copyright Copyright (c) 2011-2014 Qualiteam software Ltd <info@x-cart.com>. All rights reserved
 * @license   http://www.x-cart.com/license-agreement.html X-Cart 5 License Agreement
 * @link      http://www.x-cart.com/
 *
 * @ListChild (list="upgrade.step.completed.backup.actions", weight="300")
 * @ListChild (list="upgrade.step.ready_to_install.create_backup.actions", weight="300")
 *}

<div class="upgrade-note restore-backup">
  {t(#Restore last backup#)} <span class="small-note">({t(#should be performed manually#)})</span>
</div>
