/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Table-based model list
 *
 * @author    Qualiteam software Ltd <info@x-cart.com>
 * @copyright Copyright (c) 2011-2014 Qualiteam software Ltd <info@x-cart.com>. All rights reserved
 * @license   http://www.x-cart.com/license-agreement.html X-Cart 5 License Agreement
 * @link      http://www.x-cart.com/
 */

/**
 * Items list : common table
 */
.items-list-table {
}

.items-list-table table.list {
  width: 100%;
  clear: both;
}

.items-list-table table.list,
  .search-conditions-box,
  .table-pager,
  .items-list-table .list-footer
{
  max-width: 1180px;
  /*min-width: 800px;*/
}

.dialog-block .items-list-table table.list,
  .dialog-block .search-conditions-box,
  .dialog-block .table-pager
{
  max-width: 962px;
}

.ui-dialog .items-list-table table.list {
  max-width: 600px;
}

.items-list-table table.list thead {
  background: -moz-linear-gradient(top,  rgba(244,244,244,1) 0%, rgba(236,236,236,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,244,244,1)), color-stop(100%,rgba(236,236,236,1)));
  background: -webkit-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(236,236,236,1) 100%);
  background: -o-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(236,236,236,1) 100%);
  background: -ms-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(236,236,236,1) 100%);
  background: linear-gradient(to bottom,  rgba(244,244,244,1) 0%,rgba(236,236,236,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#ececec',GradientType=0 );
}

.items-list-table table.list tbody.no-items td,
.items-list-table table.list thead th {
  color: #8f8f8f;
  font-weight: normal;
  text-align: left;
  font-size: 16px;
}

.items-list-table table.list tbody.no-items td {
  padding: 10px;
}

.items-list-table table.list thead th {
  padding: 16px 18px;
  font-size: 14px;
  border-bottom: 1px solid #d5d5d5;
  color: #546377;
  white-space: nowrap;
}

.items-list-table table.list thead th.actions.left {
  padding-left: 14px;
}

.items-list-table table.list thead th.actions.left .head-position {
  font-size: 14px;
  color: #6b7a8d;
  white-space: nowrap;
  width: 40px;
  padding: 0px 0px 0px 10px;
  display: inline-block;
}

.items-list-table table.list thead th.actions.left .head-position.no-position {
  width: 16px;
}

.items-list-table table.list thead th.actions.right button.remove {
  padding-left: 12px;
}

.items-list-table table.list thead th.actions.left .selectAll {
  margin-left: 6px;
}

.items-list-table table.list thead th div.subheader {
  margin-top: 4px;
  color: #999;
}

.items-list-table table.list {
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
}

.items-list-table table.list.list-no-items {
  border: none;
}

.items-list-table table.list.list-no-items thead {
  display: none;
}

.items-list-table table.list tbody.create tr.line td,
.items-list-table table.list tbody.lines tr.line td,
.items-list-table table.list tbody.lines tr.sortable-placeholder td
{
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}

.items-list-table table.list tbody.create tr.line td,
.items-list-table table.list tbody.lines tr.line td
{
  padding: 6px 12px 7px 18px;
  line-height: 34px;
  white-space: nowrap;
  background-color: #ffffff;
}

.items-list-table table.list tbody.lines tr.line.last td {
  border-bottom: 1px solid #e9e9e9;
}

.items-list-table table.list tbody.lines td,
.items-list-table table.list tbody.lines td .view,
.items-list-table table.list tbody.lines td .view *
{
  font-size: 14px;
}

.items-list-table table.list td,
.items-list-table table.list td *
{
  vertical-align: middle;
}

.items-list-table table.list tbody.create td.actions.right .separator,
  .items-list-table table.list tbody.lines td.actions .separator
{
  display: inline-block;
  position: relative;
  top: 0;
  width: 3px;
  height: 22px;
  background-image: url(images/line-separator.png);
  background-repeat: repeat-y;
  background-position: top right;
}

.items-list-table table.list tbody.lines td.actions.left div.cell {
  text-align: right;
  display: table-cell;
  float: right;
}

.items-list-table table.list tbody.lines td.actions.left {
  padding-right: 3px;
  padding-left: 1px;
}

.items-list-table table.list thead th.actions.right {
  padding: 0;
}

.items-list-table table.list tbody.create td.actions.right,
.items-list-table table.list tbody.lines td.actions.right {
  padding-left: 0px;
  padding-right: 7px;
}

.items-list-table table.list tbody.lines td.actions.right .separator {
  margin-right: 5px;
}

.items-list-table table.list tbody.create td.actions .remove-wrapper {
  padding-left: 5px;
}

.items-list-table table.list tbody.create td.actions .remove-wrapper,
.items-list-table table.list tbody.lines td.actions .action {
  display: inline-block;
}

.items-list-table table.list tbody.lines td.actions .action {
  vertical-align: top;
}

.items-list-table table.list tbody.lines td.actions.left .action {
  vertical-align: middle;
}

.items-list-table table.list tbody.lines td.actions .action.next {
  background: transparent url(../../../images/actions_separator.png) no-repeat left 10px;
  height: 34px;
}

.items-list-table table.list tbody.lines td.actions div.selector {
  width: 31px;
  height: 35px;
  text-align: center;
  vertical-align: middle;
  margin-right: -1px;
  margin-left: 4px;
}

.items-list-table table.list tbody.lines td.actions div.selector.checked {
  background-color: #d2f5cc;
}

.items-list-table table.list tbody.lines td.actions div.selector input {
  margin: 0;
  vertical-align: middle;
}

.items-list-table table.list tbody.create .inline-field,
.items-list-table table.list tbody.lines .inline-field {
  display: inline-block;
}

.items-list-table table.list tbody.lines .line .cell .entity-edit-link {
  display: none;
}

.items-list-table table.list tbody.lines .line.edit-mark .cell .entity-edit-link {
  display: inline-block;
  margin-left: 10px;
  margin-top: -2px;
}

.items-list-table table.list tbody.lines td.actions .inline-field .view {
  padding-top: 4px;
}

.items-list-table table.list tbody.lines td.actions .inline-switcher {
  width: 31px;
  padding-left: 7px;
  margin-right: 3px;
  line-height: 26px;
}

.items-list-table table.list tbody.lines td.actions .inline-move {
  height: 21px;
  padding-top: 5px;
  width: 27px;
}

.items-list-table table.list tbody.lines td.actions .inline-switcher .field {
  text-align: center;
}

.items-list-table table.list tbody.lines td.attention,
.items-list-table table.list tbody.lines td.attention .view,
.items-list-table table.list tbody.lines td.attention .view *
{
  color: #d91a1a;
}

.items-list-table table.list tbody tr.line.remove-mark * {
  filter: alpha(opacity=80);
  opacity: .9;
}

.items-list-table table.list tbody.lines tr.line.remove-mark {
  opacity: .6;
}

.items-list-table table.list .inline-field {
  line-height: normal;
}

.items-list-table table.list .inline-field input,
.items-list-table table.list .inline-field select,
.items-list-table table.list .inline-field textarea,
.items-list-table table.list .inline-field span.text
{
  font-size: 14px;
}

.items-list-table table.list .inline-field input,
.items-list-table table.list .inline-field span.text
{
  line-height: 30px;
}

.items-list-table table.list .inline-field input[type="text"],
.items-list-table table.list .inline-field input[type="password"],
.items-list-table table.list .inline-field select
{
  line-height: 18px;
}

.items-list-table table.list .inline-field input[type="text"],
.items-list-table table.list .inline-field input[type="password"]
{
  height: 32px;
  padding-top: 5px;
  padding-bottom: 4px;
  font-size: 14px;
}

.items-list-table table.list .inline-field select {
  width: auto;
}

.items-list-table table.list tbody.lines .inline-field .table-value {
  float: none;
}

.items-list-table table.list .field .subfield,
.items-list-table table.list .field .subfield .table-value
{
  display: inline;
  position: relative;
}

.items-list-table a.block-link {
  display: inline-block;
  width: 30px;
  height: 26px;
  text-indent: -5000px;
  background: transparent url(images/link-icon.png) no-repeat left top;
}

/* Head sort */
.items-list-table table.list thead th span.dir {
  font-size: 14px;
}

/* Head search */
.items-list-table table.list tbody.head-search td {
  padding: 6px;
  line-height: 22px;
}

.items-list-table table.list tbody.head-search td div.table-value {
  float: none;
}

.items-list-table table.list tbody.head-search td input,
.items-list-table table.list tbody.head-search td select
{
  margin-top: 3px;
  margin-bottom: 3px;
}

.items-list-table table.list tbody td.main {
  width: 100%;
}

.items-list-table table.list tbody td.main div span.value,
.items-list-table table.list tbody td.main div
{
  color: #333333;
}

.items-list-table table.list tbody td.main div span.value .removed {
  color: #8f8f8f;
  vertical-align: initial;
}

.items-list-table table.list tbody.lines td .plain-value {
  font-size: 14px;
  display: inline-block;
}

.items-list-table table.list tbody.lines td .plain-value span {
  font-size: 14px;
}

.items-list table.list tbody.lines tr.line td.no-wrap div.cell {
  overflow: hidden;
  position: relative;
}

.items-list-table table.list tbody td.cell .inline-file-uploader {
  min-width: 19px;
}

.items-list-table table.list tbody.lines .inline-file-uploader .field .subfield .table-value {
  display: inline-block;
}

.items-list-table table.list tbody td.cell.no-wrap {
  white-space: nowrap;
}

.items-list-table table.list tbody.create td {
  padding-left: 11px;
}

.items-list-table table.list tbody.create td.actions.right .separator {
  position: relative;
  top: 0;
}

.items-list-table table.list tbody.create td.actions.right {
  padding-left: 0;
}

.items-list-table table.list td.main {
  min-width: 300px;
}

.items-list-table table.list a {
  text-decoration: underline;
  font-size: 14px;
}

.ajax-container-loadable .model-properties div.table-value .defaultvalue-value {
  padding: 0 6px;
  margin: 0;
}

.items-list-table table.list thead th .column-header-help {
  display: inline-block;
  vertical-align: middle;
}

.items-list-table table.list thead th .column-header-help .tooltip-main {
  padding-top: 0px;
}

.items-list-table .fa {
  font-size: 18px;
}

.items-list-table table.list tbody.lines tr.line td.cell.total {
  line-height: 20px;
}

.items-list-table table.list tbody.lines tr.line td span.quantity {
  color: #8f8f8f;
  display: block;
  line-height: 14px;
  vertical-align: baseline;
}

.items-list-table .input-text-symbol .symbol.text {
  top: 1px;
}

.items-list-table td.has-edit-link .view {
  width: 254px;
}

.items-list-table td.price .view {
  width: 90px;
  margin: 0;
}
