{* vim: set ts=2 sw=2 sts=2 et: *}

<meta name="viewport" content="width=1280">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="//cdnjs.cloudflare.com/ajax/libs/flexslider/2.2.2/flexslider-min.css" rel="stylesheet">

<!-- Put this script tag to the <head> of your page -->
<script type="text/javascript" src="http://vk.com/js/api/share.js?90"></script>


<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">
stLight.options({
  publisher: "41fd8b17-b75f-4744-839c-3939d1a2fa66",
  doNotHash: false,
  doNotCopy: false,
  hashAddressBar: false
});
</script>
