/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Payment methods styles
 *
 * @author    Qualiteam software Ltd <info@x-cart.com>
 * @copyright Copyright (c) 2011-2014 Qualiteam software Ltd <info@x-cart.com>. All rights reserved
 * @license   http://www.x-cart.com/license-agreement.html X-Cart 5 License Agreement
 * @link      http://www.x-cart.com/
 */

.payment-appearance-description {
  color: #456583;
  font-size: 16px;
  padding: 0px 0px 20px 0px;
  line-height: 24px;
}

.no-payment-methods-appearance {
  border: solid #EDEDED 1px;
  width: 450px;
  margin: 10px 0px 0px 0px;
}

.no-payment-methods-appearance .box {
  font-size: 16px;
  color: #333;
  letter-spacing: 0px;
  word-spacing: 1px;
  padding: 27px 0px 25px 33px;
  border: solid 6px #F9F9F9;
}
