/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Product attachments page styles
 *
 * @author    Qualiteam software Ltd <info@x-cart.com>
 * @copyright Copyright (c) 2011-2014 Qualiteam software Ltd <info@x-cart.com>. All rights reserved
 * @license   http://www.x-cart.com/license-agreement.html X-Cart 5 License Agreement
 * @link      http://www.x-cart.com/
 */

.lc-minicart .pp-ec-button,
#cart-right ul.totals .pp-ec-button,
.lc-minicart .pp-pc-button,
#cart-right ul.totals .pp-pc-button
{
  background: transparent none;
  border: 0 none;
  margin: 0;
  padding: 1px 0 0 0;
}

.payments a.paypal-ec {
  font-size: 10px;
}

.payments img.paypal {
  display: block;
  padding-top: 4px;
  width: 250px;
}

