/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Specific styles
 *
 * @author    Qualiteam software Ltd <info@x-cart.com>
 * @copyright Copyright (c) 2011-2014 Qualiteam software Ltd <info@x-cart.com>. All rights reserved
 * @license   http://www.x-cart.com/license-agreement.html X-Cart 5 License Agreement
 * @link      http://www.x-cart.com/
 */

/**
 * FONTS
 */


/**
 * Common styles
 */

/* Validation subsystem styles */
input.validation-error,
textarea.validation-error,
select.validation-error
{
  border-color: #ff0000;
}

::-webkit-input-placeholder {
  font-style: italic;
  font-size: 12px;
  color: #b8b8b8;
  font-weight: normal;
}

:-moz-placeholder {
  font-style: italic;
  font-size: 12px;
  color: #b8b8b8;
  font-weight: normal;
}

::-moz-placeholder {
  font-style: italic;
  font-size: 12px;
  color: #b8b8b8;
  font-weight: normal;
}

:-ms-input-placeholder {
  font-style: italic;
  font-size: 12px;
  color: #b8b8b8;
  font-weight: normal;
}

.inline-error {
  line-height: normal;
  font-size: 10px;
  color: #ec554e;
  font-style: italic;
  width: 100%;
  padding-top: 1px;
}

.address-dialog .message.inline-message,
.inline-message {
  line-height: normal;
  font-size: 10px;
  color: #019026;
  font-style: italic;
  width: 100%;
  padding-top: 1px;
}

form.invalid-form .form-error {
  line-height: normal;
  font-size: 12px;
  color: #ec554e;
}

/* validationEngine styles */
.formError {
}

.formError .formErrorContent {
  box-shadow: 1px 1px 5px silver;
  -moz-box-shadow: 1px 1px 5px silver;
  -webkit-box-shadow: 1px 1px 5px silver;
  -o-box-shadow: 1px 1px 5px silver;
  font-size: 12px;
}

.formError .formErrorContent,
  .formError .formErrorArrow div
{
  background-color: #e65e57;
}

/**
 * jQueryUI-based wait box
 */
.wait-box .ui-dialog-titlebar {
  display: none;
}

/* Single input progress mark */
.single-progress-mark {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.5;
  background: #fefefe;
}

.profile .single-progress-mark {
  position: absolute;
}

.search-form label,
  ul.product-options ul li label,
  .checkout-block .profile .create .selector label,
  .checkout-block .payment-step ul.payments li label,
  .checkout-block form.place .terms label,
  .checkout-block .steps .shipping-step .save label,
  .checkout-block .steps .payment-step .save label,
  .checkout-block .payment-step .same-address label
{
  display: inline;
}

#shopping-cart table.selected-products,
  .search-form tbody,
  .search-form tr,
  .invoice-box tbody,
  .invoice-box tr,
  .search-orders,
  .search-orders tbody,
  .search-orders tr
{
  border: 0px none;
}

/*
 * Pager
 */

.list-pager
{
  margin-bottom: 10px;
  height: 45px;
}

.list-header
{
  background: #f7f7f7 url(../images/list-header.png) repeat-x bottom left;
  height: 39px;
}

.list-header,
.products + .list-pager
{
  border-top: 1px solid #dfdfdf;
}

.products + .list-pager
{
  padding-top: 10px;
  margin-top: 20px;
}


.list-pager ul.pager,
  .list-header ul.display-modes,
  .list-header ul.display-sort
{
  float: left;
}

.list-pager .pager-items-total,
.list-header .sort-box
{
  float: right;
  font-size: 12px;
}

.list-pager .pager-items-total
{
  height: 24px;
}


.list-pager input
{
  width: 3em;
}

.list-header select,
.list-pager input
{
  margin-left: 0.5em;
  vertical-align: middle;
  margin-right: 0.5em;
  margin-bottom: 4px;
}


ul.pager .item a,
ul.pager .item span
{
  width: 28px;
  height: 28px;
  line-height: 28px;
}

ul.pager .more-pages
{
  height: 28px;
  line-height: 28px;
  margin: 0 -3px;
}

ul.pager li.item
{
  border: 1px solid #d7e1e8;
  margin: 0 3px;
}

ul.pager li.active:hover
{
  border-color: #b1c9e0;
}

ul.pager li.selected
{
  border-color: #5b9ece;
}

ul.pager li.selected
{
  background-color: #5b9ece;
  color: #fff;
  cursor: text;
}

ul.pager li.disabled
{
  display: none;
}

ul.pager li.skipped-pages
{
  border: none;
  width: 0.3em;
  vertical-align: bottom;
}

ul.pager li.previous-page
{
  margin-right: 13px;
}

ul.pager li.next-page
{
  margin-left: 13px;
}


.items-list ul.display-modes,
  .items-list ul.display-sort
{
  line-height: 38px;
  margin-left: 16px;
}

.items-list ul.display-modes li,
  .items-list ul.display-sort li
{
  height: 22px;
  line-height: 22px;
  vertical-align: middle;
  margin: 0px;
}

ul.display-modes li a,
  ul.display-sort li a
{
  padding: 0 8px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

ul.display-sort li a
{
  /* font-size: 15px; */
}

ul.display-modes li a span.text {
  display: none;
}

.sort-arrow.sort-arrow-desc,
  .sort-arrow.sort-arrow-asc
{
  display: inline-block;
  width: 7px;
  height: 9px;
  margin-left: 2px;
}

.sort-arrow.sort-arrow-desc {
  background: transparent url(../images/arrow-up.png) 0 0 no-repeat;
}

.sort-arrow.sort-arrow-asc {
  background: transparent url(../images/arrow-down.png) 0 0 no-repeat;
}

div.list-header .sort-box
{
  color: #53769d;
  margin-right: 12px;
}

div.list-header .sort-box label {
  display: inline;
  color: #53769d;
  font-size: 12px;
  line-height: 36px;
}

table.form-data,
table.form-data tbody,
table.form-data tr,
table.form-data th,
table.form-data td
{
  border: 0px none;
  border-spacing: 0px;
}

table.form-data td {
  padding: 3px;
}

div.default-section {
  float: left;
}

div.table-label label {
  display: block;
}

ul.main-table {
  list-style: none;
}

ul.main-table li {
  background-image: none;
  padding: 6px 3px;
  float: left;
  clear: left;
}

div.default-section {
  float: left;
}

div.model-form-buttons {
  clear: left;
  padding-top: 20px;
}

ul.default-table {
  list-style: none;
  min-width: 450px;
}

ul.default-table li {
  background-image: none;
  padding: 6px 0px 0px 0px;
  float: left;
  clear: left;
}

div.table-label {
  float: left;
  padding-top: 2px;
}

ul.default-table div.table-label label {
  width: 80px;
}

div.star {
  float: left;
  width: 10px;
}

div.table-value {
  float: left;
}

.input-field-wrapper {
  display: inline-block;
}

/* Colorbox jQuery plugin */
#colorbox,
  #cboxOverlay,
  #cboxWrapper
{
  z-index: 100000;
}

/**
 * Category page: products and subcategories
 */

h1#page-title.hidden-title
{
  display: none;
}

/* Subcategories */

.category-description,
  ul.subcategory-list
{
  margin-bottom: 40px;
}

ul.subcategory-list {
  margin-top: 5px;
}

ul.subcategory-list a {
  font-size: 19px;
}

/* Products */

.list-header,
.category-products
{
  margin-bottom: 20px;
}

/* Products grid */

.products {
/*     position: relative;
    z-index: 198; */
}

.products table.products-grid
{
  border-collapse: separate;
  border-spacing: 20px;
  margin: -20px;
  width: 730px;
}

.products table.products-list
{
  border-collapse: separate;
}

.products-grid .product-cell,
  .products-grid .product-cell .ui-draggable-dragging,
  .product-cell.ui-draggable-dragging,
  .products-sidebar .product-cell .product,
  .products-sidebar .product-cell .product.ui-draggable-dragging
{
  border-color: #eee;
  border-style: solid;
  border-width: 1px;
}

.products-sidebar .product-cell .product {
  border-color: #fff;
}

.products-list .product-cell td.product-photo
{
  border-color: transparent;
  border-style: solid none solid solid;
  border-width: 1px;
}

.products-list .product-cell td.product-info
{
  border-color: transparent;
  border-style: solid solid solid none;
  border-width: 1px;
}

.products-grid .product-cell:hover,
.products-grid .product-cell .ui-draggable-dragging,
.products-list .product-cell:hover td.product-photo,
.products-list .product-cell:hover td.product-info,
.products-sidebar .product-cell:hover .product,
.products-sidebar .product-cell .product.ui-draggable-dragging,
.products-list .ui-draggable-dragging td.product-photo,
.products-list .ui-draggable-dragging td.product-info
{
  border-color: #bbc7d2;
}


.products .product-cell,
.products table.product td
{
  padding: 0;
  position: relative;
}

.products .product,
.products table.product td
{
  padding: 12px;
}

.products-grid li.product-cell
{
  padding-top: 0;
  margin: 20px 16px 0 0;
  width: 27.5%;       /* We assume there is 3 columns only; can be overriden for specific product widgets by the container class */
  min-height: 295px;  /* Support for product names less than two lines */
}

.products-grid li:first-child,
.products-grid li:first-child + li,
.products-grid li:first-child + li + li
{
  margin-top: 0;
}

.products-grid li:nth-child(3n) /* TODO: make sure that it doesn't result into a problem in IE6, IE7 and IE8 */
{
  margin-right: 0;
}

/* Drag'n'drop */

.products-grid li,
.products-sidebar .product-cell .ui-draggable-dragging,
.products-grid .product-cell .ui-draggable-dragging,
.products-list .ui-draggable-dragging
{
  background-color: white;
  opacity: 0.9;
}

.products-list .ui-draggable-dragging{
  padding: 12px !important;
}

.products .products-table
{
  border-collapse: separate;
  border-style: none;
  margin-bottom: 17px;
}

.products-table th
{
  border-color: #e4e4e4;
  border-width: 1px;
  border-style: solid none;
  text-align: left;
  font-weight: normal;
  color: #888;
  padding-top: 8px;
  padding-bottom: 7px;
  font-size: 12px;
}

.products-table td
{
  border-color: #c2c2c2;
  border-style: none none dotted;
  padding-top: 10px;
  padding-bottom: 9px;
  font-size: 14px;
}

.products-table th,
.products-table tr:hover td
{
  background: #f8f8f8;
}

.products-table th,
.products-table td
{
  padding-left: 0px;
  padding-right: 12px;
  vertical-align: middle;
}

.products-table tr th:first-child,
.products-table tr td:first-child
{
  padding-left: 12px;
}

.products-table input
{
  margin: 0;
  vertical-align: middle;
}

.products .product-buy-selected
{
  margin-top: 0;
  margin-bottom: 0;
}

.products-table .caption-product-name
{
  width: 100%;
}

.products-table .caption-product-price
{
  text-align: left;
}

.products-table .caption-product-qty
{
  text-align: center;
}

.products-table tr:last-child td
{
  border-style: none;
}

.products-table .product-link
{
  text-decoration: none;
}

.products input.product-qty
{
  width: 25px;
  padding: 0px 3px 1px;
}

.cart-tray
{
  position: fixed;
  top: 5em;
  right: 5em;
  z-index: 200;
  width: 154px;
  height: 217px;
  border-style: solid;
  border-color: #bbc7d2;
  border-width: 1px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #bbc7d2;
  -moz-box-shadow: 2px 2px 3px #bbc7d2;
  -webkit-box-shadow: 2px 2px 3px #bbc7d2;
}

.cart-tray .tray-area
{
  background-color: #eff8fe;
  height: 201px;
  width: 138px;
  margin: 8px;
}

.cart-tray .tray-area .centered-tray-box
{
  padding-top: 145px;
  margin: 0 auto;
  width: 130px;
}

.cart-tray.droppable .tray-area
{
  background-color: white;
}

.cart-tray .tray-status
{
  color: #53769d;
  line-height: 1.5;
}

.cart-tray .progress-bar
{
  border: 1px solid #CADCE8;
  background-color: #fff;
  width: 100%;
}

.cart-tray .block-wait {
  border: 0px none;
  min-width: 100%;
}

.products-grid .product-thumbnail
{
  margin-bottom: 20px;
}

.products .product-name
{
  margin: 0;
  text-align: left;
}

.products .product-name a
{
  text-decoration: none;
  text-align: left;
}

.products-grid .product-name,
.products-grid .price
{
  font-size: 18px;
  padding: 0 4px;
}

.products-grid .product-name{
    min-height: 40px;
}

.products-list .product-name,
.products-list .price
{
  font-size: 20px;
}

.products-sidebar .product-name {
  text-align: center;
  font-size: 16px;
}

.products ul.product-price {
  list-style: none;
  display: block;
  margin-bottom: 0px;
}

.products .products-table ul.product-price {
  margin-bottom: 0px;
}

.products ul.product-price li {
  display: inline-block;
  background: none;
  padding: 0px;
}

.products span.product-price
{
  display: block;
  white-space: nowrap;

}

.products-table span.product-price
{
  text-align: right;
}

.products-grid span.product-price,
.products-list span.product-price
{
  padding-top: 0.5em;
}

.products .product .drag-n-drop-handle
{
  font-size: 11px;
  color: #8fa8c0;
}

.products-grid .product .drag-n-drop-handle
{
  position: relative;
  top: -10px;
  left: -6px;
}

.products-list .product .drag-n-drop-handle
{
  position: absolute;
  right: 0px;
  top: -12px;
}

.products-sidebar-small-thumbnails .product-cell .product {
  padding-left: 0px;
}

.products-sidebar-small-thumbnails .product-name,
.products-sidebar-big-thumbnails .product-name
{
  font-size: 16px;
  padding-top: 10px;
}

.products-sidebar-small-thumbnails .product-name {
  line-height: 18px;
}

.products-sidebar-big-thumbnails .product-name
{
  text-align: center;
}

.products-sidebar-small-thumbnails span.product-price {
  padding-top: 5px;
}

ul.products-sidebar-text-links li.product-cell {
  background-image: url(../images/products-sidebar-bullet.png);
  background-position: 1px 50%;
  background-repeat: no-repeat;
}

ul.products-sidebar-text-links li .product {
  line-height: normal;
  padding-bottom: 0px;
  padding-left: 11px;
}

.products-sidebar-text-links .product-name {
  font-size: 14px;
  font-family: Helvetica, Arial;
}

/**
 * Product block
 */
.product-block .product {
  padding: 0px;
}

.product-block .product-name
{
  font-size: 16px;
  padding-top: 0px;
  font-family: Helvetica, Arial;
  text-align: left;
}

.product-block span.product-price {
  padding-top: 3px;
  line-height: 21px;
}

/**
 * Categories menu
 */
.sidebar .catalog-categories > li > a
{
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/**
 * Product options
 */

ul.product-options,
ul.product-options li.product-option
{
  background-color: #eff8fe;
}

.block-container ul.product-options,
.block-container ul.product-options li.product-option
{
  background-color: transparent;
}

.block-container ul.product-options {
  padding-top: 0px;
}

.block-container .change-options .butons {
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

.block-container .change-options .butons button {
  margin-bottom: 0px;
}

ul.product-options
{
  width: auto;
  margin-right: 20px;
  padding: 13px 20px 0;
}

ul.product-options li.product-option
{
  padding: 0 0 13px;
}

.ui-dialog .change-options .head-h2.ajax-title-loadable  {
  font-size: 24px;
}

/**
 * Product details page & product quick look
 */


.target-product.non-added-product #breadcrumb .top-continue {
  display: none;
}

div.product-details .product-details-info
{
  position: relative;
  margin-left: 20px;
}

.ui-dialog .product-quicklook .product-details-info
{
  position: relative;
}

body.store-product h1#page-title,
.ui-dialog .product-quicklook .block-subcontainer > .head-h2
{
  display: none;
}

.product-details div.image
{
  position: relative;
  text-align: center;
}

.product-details .image.empty .empty-icon {
  color: #f4f4f4;
  font-size: 55px;
  padding: 34px 32px;
}

.product-details .image.empty {
  padding-top: 7px;
}

.product-details .product-photo
{
  text-align: center;
  margin: 0 auto;
}

.product-details .image.empty .product-photo {
  margin: 0 auto;
  max-width: 300px;
  width: 100%;
}

.product-details .product-photo-box
{
  margin: 0px auto;
  text-align: center;
  position: relative;
}

.product-details .product-photo-box .arrow
{
  display: none;
  outline-style: none;
  width: 55px;
  height: 55px;
}

.product-details .product-photo-box .arrow img
{
  width: 55px;
  height: 55px;
  display: block;
}

.product-details .product-photo-box .left-arrow img
{
  background: transparent url(../images/arrow_big_left.png) no-repeat left top;
}

.product-details .product-photo-box .right-arrow img
{
  background: transparent url(../images/arrow_big_right.png) no-repeat right top;
}


.product-details .cloud-zoom
{
  cursor: default;
}


.product-details .loupe
{
  display: block;
  margin: 0px auto;
  width: 55px;
  height: 55px;
  outline-style: none;
}

.product-details .loupe img
{
  background: transparent url(../images/loupe.png) no-repeat left top;
  width: 55px;
  height: 55px;
}

.product-details .empty .loupe {
  display: none;
}

.product-image-gallery ul
{
  background-color: #ededed;
  padding: 8px;
  margin-top: 19px;
  margin-bottom: 0;
}

.product-image-gallery li
{
  padding: 0px;
  margin: 4px;
  border: 3px solid #fff;
  list-style: none;
  float: left;
  width: 66px;
  height: 66px;
  background-color: #fff;
  vertical-align: middle;
  text-align: center;
}

.product-image-gallery li.selected
{
  border-color: #6d6d6d;
}

.product-details div.image,
.product-details .product-details-info
{
  margin-bottom: 25px;
}



.product-details .product-rating
{
  height: 23px;
  vertical-align: middle;
}

.product-details .product-rating a
{
  font-size: 12px;
  margin: 0 8px;
}

.product-details .product-rating span.rating-stars
{
  color: #ffb000;
  font-size: 23px;
  letter-spacing: 3px;
  position: relative;
  top: 3px;
  left: 0;
}



.product-details .product-more-link,
.product-details .stock-level,
.product-quicklook .stock-level
{
  font-size: 18px;
}

.product-details .product-more-link,
.product-quicklook .product-more-link
{
  margin-bottom: 20px;
  display: block;
}

.product-quicklook .product-more-link {
  outline: none;
}

.product-details .brief-descr,
.product-quicklook .brief-descr
{
  margin-bottom: 10px;
}

div.product-price {
  display: inline-block;
}

.products-sidebar div.product-price {
  display: block;
}

.product-details span.product-price,
.product-quicklook span.product-price
{
  font-size: 36px;
  line-height: 33px;
  margin-top: 18px;
  display: inline-block;
}

.product-details ul.product-price,
  .product-quicklook ul.product-price
{
  list-style: none;
  display: inline-block;
  margin-bottom: 10px;
}

.product-details ul.product-price li,
  .product-quicklook ul.product-price li
{
  display: inline-block;
  background: none;
  padding: 0px;
}

.product-details .product-notify-on-price-drop,
  .product-quicklook .product-notify-on-price-drop
{
  margin: 6px 0 24px;
  font-size: 12px;
}


.product-details .product-options,
.product-quicklook .product-options
{
  margin-top: 15px;
}

.product-details .product-buttons,
.product-quicklook .product-buttons
{
  margin-top: 10px;
}


.product-details .product-buttons button,
.product-quicklook .product-buttons button
{
  margin-top: 0px;
  margin-bottom: 0px;
}

.add-button-wrapper {
  display: inline-block;
}

.product-details .product-qty,
  .product-quicklook .product-qty
{
  padding-right: 10px;
  display: inline-block;
}

.product-details-info .product-buttons .buttons-row > * {
  vertical-align: middle;
}

.product-details .product-out-of-stock,
.product-quicklook .product-out-of-stock,
.product-details .product-items-available
{
  color: #888;
}

.product-details .product-in-stock,
.product-quicklook .product-in-stock
{
  color: #019026;
}

.product-details .product-out-of-stock,
.product-quicklook .product-out-of-stock,
.product-details .product-in-stock,
.product-quicklook .product-in-stock
{
  display: block;
}

.product-details .product-items-available,
.product-quicklook .product-items-available
{
  font-size: 14px;
}

.product-details input.quantity,
.product-quicklook input.quantity
{
  border-width: 1px;
  width: 42px;
  text-align: right;
  padding: 4px 6px;
  margin-left: 8px;
  vertical-align: middle;
}

.product-details .quantity-box-container .wheel-mark,
.product-quicklook .quantity-box-container .wheel-mark
{
  vertical-align: middle;
  margin-right: 0px;
}

/**
 * Default styling for the product description
 */

.product-details .product-added-note,
.product-quicklook .product-added-note
{
  margin: 30px 0 20px;
  font-size: 15px;
  line-height: 1;
  color: #60ac70;
  vertical-align: middle;
}

.product-details .product-added-note .fa-check-square,
.product-quicklook .product-added-note .fa-check-square
{
  font-size: 19px;
  vertical-align: middle;
  line-height: 16px;
  padding-right: 5px;
}

div.product-details button.continue,
.product-quicklook button.continue
{
  margin: 20px 0px 10px;
}

.product-details .continue-button-intend
{
  width: 112px;
  float: left;
}

.product-details .share
{
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
  margin-top: 20px;
}

.product-details .extra-fields
{
  list-style: none;
  padding: 0px;
  padding-top: 6px;
  margin: 0px;
}

.product-details .extra-fields li
{
  list-style: none;
  padding: 4px 0px;
  margin: 0px;
  background-image: none;
  font-size: 14px;
}

.product-details .extra-fields li strong
{
  font-weight: normal;
  background-color: #fff;
  padding-right: 3px;
}

.product-details .extra-fields li .head-h3
{
  margin: 11px 0 0 0;
  color: #456583;
  font-size: 16px;
}

.product-details .extra-fields li span
{
  display: inline-block;
  color: #1f1f1f;
  vertical-align: bottom;
  max-width: 700px;
}

.product-details .extra-fields li span.checkbox.no-checked
{
  color: #7e7e7e;
}

.product-details .extra-fields li div
{
  width: 246px;
  display: inline-block;
  color: #7e7e7e;
  background: url(../images/dotted.png) repeat-x scroll 0 bottom transparent;
  vertical-align: top;
  overflow: hidden;
}

.product-details .extra-fields li ul li div
{
  width: 226px;
}

.product-details .extra-fields li ul li
{
  margin-top: 5px;
}

.product-details .extra-fields li ul
{
  margin: 0 0 0 20px;
}

.product-details .extra-fields ul {
  line-height: 20px;
}

table.list-body td.box-product a.product-thumbnail
{
  width: 194px;
}

table.list-body
{
  border-collapse: separate;
  border: none;
}

table.list-body tr.info span.price
{
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #e65a00;
  padding-top: 0.5em;
}

table.list-body td.box-product,
table.list-body-list td.body
{
  border: 1px solid #ececec;
}

table.list-body-list td.box-product
{
  border-right: none;
}

table.list-body-list td.body
{
  border-left: none;
}

table.list-body-grid td.box-product:hover
{
  border: 1px solid #bbc7d2;
}

table.list-body-list
{
  border-collapse: separate;
  border-spacing: 0 1.5em;
}

table.list-body-list td
{
  border: 1px solid #fff;
  vertical-align: top;
}

/**
 * MINICART widgets
 */

.lc-minicart
{
  text-align: center;
  height: 100%;
  position: relative;         /* Position nested popups inside these blocks */
  cursor: pointer;
}

.lc-minicart:hover
{
  background-color: white;
}

.lc-minicart.empty
{
  cursor: auto;
}

.lc-minicart .minicart-items-number,
.lc-minicart .minicart-items-text
{
  color: #6999c4;
}

.lc-minicart .items-list {
  padding: 10px;
  width: 270px;
  right: 0;
  left: auto;
  top: 73px;
  bottom: auto;
  z-index: 900;
  display: block;
  cursor: auto;
}

.lc-minicart p.title
{
  font-size: 19px;
  padding: 5px 10px 3px;
  margin-bottom: 8px;
}

.lc-minicart .items-list ul,
  .lc-minicart .items-list li
{
  list-style: none;
  background: transparent none;
  padding: 0px;
  margin: 0px;
}

.lc-minicart .items-list li {
  font-size: 12px;
  padding-left: 10px;
  padding-top: 9px;
  padding-bottom: 7px;
  line-height: normal;
  margin-bottom: 3px;
}

.lc-minicart .items-list li:hover,
  .lc-minicart .items-list li.hover
{
  background-color: #f2f2f2;
}

.lc-minicart .items-list .item-price {
  color: #404040;
  padding-top: 6px;
  display: inline-block;
}

.lc-minicart .other-items {
  font-size: 12px;
  line-height: normal;
  margin: 0px;
  padding-left: 10px;
  padding-top: 9px;
}

.lc-minicart .subtotal {
  padding-top: 10px;
  padding-left: 10px;
}

.lc-minicart hr {
  margin: 13px 8px 10px;
}

.lc-minicart .buttons-row {
  padding-left: 10px;
  text-align: center;
  white-space: normal;
}

.lc-minicart .buttons-row .checkout {
  margin-left: 5px;
}

.lc-minicart .buttons-row button{
    margin-bottom: 5px;
    margin-top: 5px;
}

/**
 * Separator of Checkout buttons (- OR -)
 */
.buttons-separator {
  padding-top: 7px;
  padding-bottom: 10px;
  text-align: center;
}

.buttons-separator span {
  color: #8F8F8F;
}

.button .buttons-separator span {
  padding-left: 0px;
}


/**
 * Cart
 */
body.store-cart #breadcrumbs {
  display: none;
}

body.store-cart #main h1 {
  padding-top: 29px;
  color: #505b67;
}

#shopping-cart {
  padding-top: 14px;
}

#shopping-cart table.selected-products {
  border-collapse: separate;
  margin-bottom: 3px;
  border-top: 1px solid #dddddd;
}

#shopping-cart .selected-products td {
  border: 0px none;
  padding: 0px;
  border-bottom: 1px solid #dddddd;
  vertical-align: top;
}

#shopping-cart td.item-remove {
  padding: 14px 3px;
  text-align: center;
  width: 13px;
}

#shopping-cart td.item-remove input {
  background: transparent url(../images/icon_cross_circle.png) no-repeat left top;
  border: none;
  width: 13px;
  height: 13px;
  padding: 0;
}

#shopping-cart td.item-remove input:hover {
  background-position: left -13px;
}

#shopping-cart td.item-thumbnail {
  text-align: center;
  padding: 8px 7px;
  width: 80px;
}

#shopping-cart td.item-info {
  padding: 14px 4px 1px;
  color: #000;
}

#shopping-cart td.item-info .item-title a {
  text-decoration: none;
  font-size: 14px;
}

#shopping-cart td.item-info p,
  #shopping-cart td.item-info div.item-options
{
  margin-bottom: 7px;
}

#shopping-cart td.item-info span {
  color: #7e7e7e;
}

#shopping-cart td.item-info ul,
  #shopping-cart td.item-info li
{
  display: inline;
  margin: 0px;
  padding: 0px;
  width: auto;
  background: transparent none;
}

#shopping-cart td.item-price,
  #shopping-cart td.item-multi,
  #shopping-cart td.item-qty,
  #shopping-cart td.item-equal,
  #shopping-cart td.item-subtotal
{
  white-space: nowrap;
  padding: 15px 3px 1px 3px;
  font-size: 14px;
}

#shopping-cart td.item-price {
  text-align: right;
  padding-right: 7px;
}

#shopping-cart td.item-multi {
  color: #919191;
  padding-top: 9px;
  width: 12px;
  font-size: 20px;
}

#shopping-cart td.item-qty {
  padding-top: 11px;
  text-align: center;
  width: 52px;
}

#shopping-cart td.item-qty input {
  width: 55px;
  text-align: right;
}

#shopping-cart td.item-equals {
  padding-top: 14px;
  width: 12px;
}

#shopping-cart td.item-subtotal {
  width: 65px;
  text-align: right;
}

#shopping-cart td.item-subtotal .modified-subtotal,
#cart .totals .subtotal .modified-subtotal,
.checkout-block .review-step .items-row .modified-subtotal,
#cart li.order-modifier .including-owner,
.checkout-block .review-step .including-owner
{
  border-bottom: 1px dotted #c2c2c2;
  cursor: help;
}

.discount-code-modifier .value {
  color: #397928;
}

table.including-modifiers,
table.including-modifiers tbody,
table.including-modifiers tr,
table.including-modifiers td
{
  border: 0px none;
  margin: 0px;
}

table.including-modifiers td {
  white-space: nowrap;
  padding: 6px;
}

table.including-modifiers td.value {
  text-align: right;
}

#shopping-cart .cart-buttons {
  height: 36px;
}

#shopping-cart .cart-buttons form div {
  display: inline;
  width: auto;
}

#shopping-cart .cart-buttons form {
  display: inline;
  padding-left: 10px;
}

#shopping-cart .cart-buttons a {
  line-height: 36px;
  vertical-align: middle;
}

#shopping-cart .sums {
  text-align: right;
  padding: 0px;
  margin: 0px;
  list-style: none;
  background: transparent none;
  padding-top: 15px;
}

#shopping-cart .sums li {
  padding: 0px;
  margin: 0px;
  list-style: none;
  background: transparent none;
  font-size: 18px;
}

#shopping-cart .sums li strong {
  font-weight: normal;
}

#cart-right {
  margin-top: 14px;
}

#cart-right .totals {
  border: 1px solid #dfdfdf;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 15px;
  margin: 0px;
  list-style: none;
  background: transparent none;
}

#cart-right .totals li {
  position: relative;
  text-align: right;
  padding: 0px;
  margin: 0px;
  list-style: none;
  background: transparent none;
  font-size: 16px;
  padding: 4px;
  white-space: nowrap;
}

#cart-right .totals li strong {
  display: block;
  float: left;
  color: #7e7e7e;
  font-weight: normal;
}

#cart-right .totals li.total {
  font-size: 22px;
  padding-top: 12px;
  color: #f57300;
}

#cart-right .totals li.total strong {
  color: #505b67;
}

#cart-right .totals li.button {
  padding-top: 7px;
  padding-bottom: 0px;
  text-align: center;
}

#cart-right .totals li.button button.disabled span {
  background-image: none;
}

#cart-right .totals li.disabled-reason .reason-details {
  white-space: normal;
  min-width: 220px;
  margin-top: 2px;
}

.reason-details p {
  font-size: 12px;
  text-align: center;
  font-family: Arial;
  color: #cc2c01;
  line-height: 17px;
  padding-top: 6px;
  margin: 0px;
}

#cart-right .box {
  padding: 0px;
  background-color: #f6f6f6;
  margin-top: 20px;
}

#cart-right .box > div {
  border-top: 1px solid #d9d9d9;
  margin-top: 4px;
  margin-left: 20px;
  margin-right: 20px;
}

#cart-right .box > div:first-child {
  border-top: none;
  margin: 0;
}

#cart-right .box ul {
  padding: 0px;
  margin: 0px;
}

#cart-right .box ul li {
  padding: 6px 0px;
  margin: 0px;
  background-image: none;
  list-style: none;
}

#cart-right .estimator {
  padding: 11px 21px;
}

#cart-right .estimator ul span {
  color: #7e7e7e;
  display: block;
}

#cart-right .estimator .link {
  padding: 6px 0px;
}

#cart-right .estimator .buttons {
  text-align: center;
}

#cart-right .estimator .error {
  display: block;
}

/**
 * Shipping estimator
 */

.ajax-container-loadable.ctrl-customer-shippingestimate {
  min-width: 470px !important;
}

form.estimator ul,
  .estimate-methods ul
{
  margin: 0px;
  padding: 0px;
}

form.estimator ul.form li,
  .estimate-methods ul li
{
  list-style: none;
  background-image: none;
  padding: 0px;
  margin: 0px;
}

form.estimator ul.form li {
  padding: 5px 0px;
  display: block;
  clear: both;
  float: left;
  width: 100%;
}

form.estimator ul.form label,
  .estimate-methods ul.shipping-rates li label
{
  color: #53769d;
}

form.estimator ul.form label {
  width: 100%;
  display: block;
  float: left;
  font-weight: normal;
  line-height: 28px;
  white-space: nowrap;
}

form.estimator ul.form div.star{
  width: 3%;
  line-height: 37px;
  text-align: center;
  vertical-align: middle;
}

form.estimator ul.form div.table-label{
  width: 21%;
}

.estimate-methods .chosen-container {
}

form.estimator ul.form div.table-value{
  width: 75%;
  float: right;
}

form.estimator ul.form .input-field-wrapper{
  display: block;
}

form.estimator ul.form .field-country,
form.estimator ul.form .field-state
{
  width: 200px;
}

form.estimator ul.form .field-zipcode {
  width: 62px;
}

form.estimator ul.form input[type="text"],
form.estimator ul.form select {
  min-width: 200px;
}

form.estimator ul.form select {
  min-width: 212px;
}

form.estimator .buttons {
  padding-left: 25%;
  padding-top: 20px;
  float: left;
}

form.estimator .main {
  padding-top: 10px;
}

.estimate-methods .chosen-container .chosen-results {
  max-height: 100px;
}

.estimate-methods{
  float: left;
  width: 100%;
}

.estimate-methods .main {
  text-align: center;
}

.estimate-methods .head-h3 {
  margin-top: 45px;
  margin-bottom: 10px;
}

.estimate-methods ul {
  padding-left: 3px;
  padding-right: 36px;
}

.estimate-methods ul li {
  padding: 6px 0px;
}

.estimate-methods ul.shipping-rates li label {
  width: 220px;
}

img.fade {
  background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 20px;
  height: 100%;
}

img.fade-a {
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 20px;
  height: 100%;
}

.estimate-methods ul li label {
  width: 220px;
}

.estimate-methods ul li span.value {
  white-space: nowrap;
  float: right;
}

.estimate-methods ul.shipping-rates {
  padding-bottom: 15px;
  padding-right: 0px;
}

.estimate-methods .buttons {
  padding-top: 12px;
}

.estimate-methods .buttons button {
  margin-bottom: 0px;
}

.estimate-methods .table-value.methodid-value {
  float: none;
  padding-bottom: 30px;
}

.estimate-methods .table-value.methodid-value select {
  width: 100%;
}

/**
 * Checkout
 */

body.target-checkout #header-bar,
body.target-checkoutPayment #header-bar {
  padding-top: 0px;
  vertical-align: middle;
}

body.target-checkout #breadcrumb,
body.target-checkout #header-area #header,
body.target-checkoutPayment #breadcrumb,
body.target-checkoutPayment #header-area #header {
  display: none;
}

body.target-checkout #header-area,
body.target-checkoutPayment #header-area {
  padding-bottom: 10px;
}

/* Common styles */
.checkout-block ul {
  margin: 0px;
  padding: 0px;
}

.checkout-block hr {
  clear: both;
}

.checkout-block li {
  margin: 0px;
  padding: 0px;
  list-style: none;
  background: transparent none;
}

/* Profile block */
.checkout-block .profile {
  margin: 0px;
  padding-left: 3px;
  padding-bottom: 35px;
}

.checkout-block .profile div.create {
  width: 380px;
  float: left;
}

.checkout-block .profile .head-h3 {
  border: 0px none;
  margin: 0px;
  font-size: 16px;
  padding-left: 2px;
}

.checkout-block .profile .create input#create_profile_email {
  margin-top: 10px;
  margin-bottom: 12px;
  width: 337px;
}

.checkout-block .profile .create .selector
.checkout-block .profile .create .selector *
{
  vertical-align: middle;
}

.checkout-block .profile .create .selector input {
  margin-left: 6px;
  margin-right: 4px;
}

.checkout-block .profile .create .username {
  padding-top: 10px;
  padding-bottom: 11px;
  vertical-align: middle;
  position: relative;
}

.checkout-block .profile .create .username label {
  color: #53769d;
  vertical-align: middle;
  font-size: 14px;
  padding-right: 6px;
  display: inline;
}

.checkout-block .profile .create .username input {
  width: 257px;
  vertical-align: middle;
}

.checkout-block .profile .create .username .username-verified {
  color: #53769d;
  vertical-align: middle;
  position: absolute;
  display: block;
  top: 13px;
  left: 362px;
  font-size: 12px;
  white-space: nowrap;
}

.checkout-block .profile .or {
  float: left;
  width: 60px;
  height: 90px;
  line-height: 84px;
  text-align: center;
  vertical-align: middle;
  color: #b0b0b0;
  font-size: 20px;
  background: transparent url(../images/checkout_or_bg.png) no-repeat 9px 6px;
}

.checkout-block .profile .logged {
  font-size: 14px;
  padding-bottom: 2px;
}

.checkout-block .profile .logged a.view-profile {
  margin-left: 13px;
}

.checkout-block .profile .logged a.logoff {
  margin-left: 10px;
}

/* Steps */
.checkout-block .steps {
  width: 100%;
}

.checkout-block .steps .step {
  float: left;
}

.checkout-block .steps .order-payment-step {
  width: 100%;
}

iframe#pay_iframe {
  border: none;
}

.checkout-block .steps .step-title {
  margin-top: 6px;
  margin-bottom: 19px;
  padding-left: 0px;
  color: #fff;
  position: relative;
  white-space: nowrap;
}

.checkout-block .steps .step-title span.text {
  display: block;
  padding-left: 23px;
  padding-top: 5px;
  padding-bottom: 6px;
  line-height: 29px;
  font-size: 23px;
}

.checkout-block .steps .left-arrow .step-title span.text {
  margin-left: 10px;
}

.checkout-block .steps .right-arrow .step-title span.text {
  margin-right: 10px;
  padding-right: 10px;
}

.checkout-block .steps .step-title span.text {
  background-color: #69b7f0;
}

.checkout-block .steps .step-title img {
  background-position: top left;
  background-repeat: no-repeat;
  width: 10px;
  height: 40px;
  position: absolute;
  top: 0px;
}

.checkout-block .steps .step-title img.left {
  left: 0px;
}

.checkout-block .steps .step-title img.right {
  right: 0px;
}

.checkout-block .steps .step-title img.left {
  background-image: url(../images/wizard_selected_larr.png);
}

.checkout-block .steps .step-title img.right {
  background-image: url(../images/wizard_selected_rarr.png);
}

.checkout-block .shipping-step .step-box,
.checkout-block .review-step .step-box .box
{
  background-color: #f6f6f6;
  color: #8a8a8a;
  padding: 15px 11px;
}

.checkout-block .shipping-step .step-box {
  background-color: transparent;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: inherit;
}

/* Fade */

.checkout-block ul.payments li label:after{
  content:"";
}

.checkout-block ul.shipping-rates li label img.right-fade,
.checkout-block ul.payments li label:after {
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 20px;
  height: 100%;
}

.checkout-block ul.shipping-rates li label,
.checkout-block ul.payments li label {
  display: inline-block;
  white-space: nowrap;
  width: 50%;
  overflow: hidden;
  position: relative;
  margin-top: 4px;
}

.checkout-block ul.payments li label{
  width: 85%;
}



.block-wait {
  border: 0px none;
  background: transparent none;
}

@keyframes rotateGear {
  from { }
  to {
    -ms-transform: rotate(360deg);
    transform:rotate(360deg);
  }
}
@-moz-keyframes rotateGear {
  from { }
  to {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotateGear {
  from { }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes rotateGear {
  from { }
  to {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.wait-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #fff;
  opacity: .5;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  width: 100%;
  height: 100%;
}

.block-wait {
  min-width: 200px;
  min-height: 150px;
}

.wait-block {
  margin-left: -17px;
  margin-top: -17px;
}

.block-wait div,
  .wait-box .box,
  .wait-block div,
  .single-progress-mark div
{
  background: transparent url(../images/preloader.png) no-repeat left top;
  width: 34px;
  height: 34px;
  margin: auto;
  animation-duration: 500ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -moz-animation-duration: 500ms;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-duration: 500ms;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -o-animation-duration: 500ms;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: rotateGear;
  -moz-animation-name: rotateGear;
  -webkit-animation-name: rotateGear;
  -o-animation-name: rotateGear;
  opacity: 1;
}

.block-wait div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -17px;
  margin-left: -17px;
}

.single-progress-mark div {
  top: 47%;
  left: 47%;
  position: absolute;
}


.checkout-block .steps .subsection {
  display: table-cell;
  vertical-align: top;
}

.checkout-block .steps .subsection.payment-section {
  padding-left: 6px;
}

.checkout-block .steps .substep {
  padding-bottom: 8px;
  padding-top: 19px;
  position: relative;
}

.checkout-block .steps .head-h3 {
  margin-bottom: 10px;
  padding-left: 60px;
  margin-top: 0px;
  vertical-align: middle;
  float: left;
  position: relative;
}

.checkout-block .steps .head-h3 .bullet {
  color: #fff;
  background-color: #7b96a9;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  width: 27px;
  height: 27px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 27px;
  margin-right: 17px;
  position: absolute;
  left: 16px;
}

.checkout-block .steps form {
  clear: both;
}

.checkout-block .steps ul.form {
  padding-left: 16px;
}

.checkout-block .steps ul.form li {
  line-height: 20px;
  vertical-align: middle;
  padding: 8px 0px 9px 0px;
}

.checkout-block .steps ul.form li.error {
  padding-bottom: 5px;
}

.checkout-block .steps ul.form li.save {
  padding-left: 89px;
}

.checkout-block .steps ul.form li > div.star {
  line-height: normal;
  padding-top: 8px;
}

.checkout-block .steps ul.form li.error > div.star {
  color: #ff0000;
}

.checkout-block .steps .shipping-section ul.form label {
  font-size: 14px;
  line-height: normal;
  padding-top: 2px;
}

.address-box,
.checkout-block .steps .address-box
{
  color: #333333;
  padding: 3px 8px;
  line-height: 20px;
}

.checkout-block input[type="text"],
.checkout-block input[type="password"],
.checkout-block select,
.checkout-block textarea
{
  margin: 1px;
  border-style: solid;
}

.checkout-block input[type="text"]:focus,
.checkout-block input[type="password"]:focus,
.checkout-block select:focus,
.checkout-block textarea:focus,
.checkout-block input[type="text"].validation-error,
.checkout-block input[type="password"].validation-error,
.checkout-block select.validation-error,
.checkout-block textarea.validation-error
{
  border-width: 2px;
  margin: 0;
}

.checkout-block .steps ul.form li p.inline-error,
.checkout-block .steps p.inline-error
{
  vertical-align: baseline;
}

.checkout-block .steps ul.form li p.inline-error *,
.checkout-block .steps p.inline-error *,
.checkout-block .steps ul.form li .subnote,
.checkout-block .steps ul.form li .subnote *
{
  vertical-align: baseline;
}

/* Step : shipping */
.checkout-block .steps .address-book,
.checkout-block .steps .recalculate
{
  margin-top: 0;
  margin-bottom: 0;
}

.checkout-block .steps .address-book {
  float: right;
  margin-right: 6%;
}

.checkout-block .steps .address-invisible .address-book,
.checkout-block .steps .address-invisible .address-item
{
  display: none !important;
}

.checkout-block .steps form.address {
  padding-top: 8px;
}

.checkout-block .steps .item-email .form-field-comment {
  color: #b2b0b1;
  font-size: 10px;
  line-height: 12px;
  padding-top: 5px;
  width: 202px;
  font-style: italic;
}

.checkout-block .item-email .subbox {
  padding-top: 2px;
  display: inline-block;
}

.checkout-block .item-email .subnote {
  font-size: 10px;
  line-height: 12px;
  padding-top: 5px;
  width: 202px;
  font-style: italic;
}

.checkout-block .item-email .create-warning,
.checkout-block .item-email .create-note,
.checkout-block .item-email .create,
.checkout-block .item-email.create-profile-warning .form-field-comment,
.checkout-block .item-email.create-profile-note .form-field-comment
{
  display: none;
}

.checkout-block .item-email.create-profile-warning .create-warning,
.checkout-block .item-email.create-profile-note .create-note,
.checkout-block .item-email.allow-create-profile .create
{
  display: inline-block;
}

.checkout-block .item-email.invalid .form-field-comment,
.checkout-block .item-email.invalid .create-profile-warning,
.checkout-block .item-email.invalid .create-pofile-note,
.checkout-block .item-email.invalid .create
{
  display: none;
}

.checkout-block .steps .item-email .create-warning {
  color: #473f3f;
  line-height: 13px;
}

.checkout-block .steps .item-email .create-warning a {
  font-size: 12px;
}

.checkout-block .steps .item-email .create-note {
  color: #b2b0b1;
}


.checkout-block .steps .item-email .create label {
  font-size: 12px;
}

.checkout-block .item-password.hidden {
  display: none;
}

.checkout-block .steps .save,
.checkout-block .steps .save *
{
  vertical-align: middle;
}

ul.shipping-rates {
  padding-top: 4px;
}

ul.shipping-rates li {
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 4px;
}

.checkout-block ul.shipping-rates li {
  padding-left: 61px;
}

.checkout-block ul.shipping-rates li div.clear {
  clear: both;
}

ul.shipping-rates li * {
   vertical-align: middle;
}

ul.shipping-rates li label {
  display: inline;
  overflow: hidden;
  position: relative;
}

ul.shipping-rates li sup {
  display: inline;
}

ul.shipping-rates li span.value {
  color: #666769;
  float: right;
  font-size: 14px;
  line-height: 18px;
}

.checkout-block .steps .address-not-completed,
.checkout-block .steps .address-not-defined,
.checkout-block .steps .shipping-methods-not-avail,
.checkout-block .steps .email-not-defined,
.checkout-block .steps .payment-methods-not-defined
{
  padding-left: 61px;
  padding-top: 3px;
  line-height: 16px;
  font-size: 12px;
  color: #7d7d7d;
  clear: both;
}

.checkout-block .steps .shipping-step .email-not-defined.red
{
  color: #EE0000;
}

.checkout-block .previous .label {
  color: #1a6992;
  font-size: 12px;
  line-height: 20px;
}

.checkout-block .steps .address-invisible .billing-address li.same-address {
  padding-left: 43px;
  margin-top: -5px;
  padding-top: 0px;
}

.checkout-block .steps .billing-address li.same-address label {
  font-size: 14px;
}

.checkout-block .steps .substep.step-shipping-methods {
  padding-top: 10px;
  clear: both;
}

.checkout-block .shipping-methods .methodid-value {
  float: none;
  padding-left: 60px;
  padding-right: 30px;
}

.checkout-block .shipping-methods button.ui-multiselect {
  min-width: 250px;
  margin-top: 13px;
}

.checkout-block .shipping-methods button.ui-multiselect span {
  font-weight: bold;
}

.checkout-block .shipping-methods button.ui-multiselect span.name,
.checkout-block .shipping-methods button.ui-multiselect span.value
{
  vertical-align: middle;
}

.checkout-block .shipping-methods button.ui-multiselect span.name {
  margin-right: 10px;
}

.checkout-block .shipping-methods button.ui-multiselect span.name sup {
  vertical-align: top;
}

.checkout-block .shipping-methods button.ui-multiselect .name {
  display: inline-block;
  white-space: nowrap;
  width: 160px;
  overflow: hidden;
  position: relative;
}

.checkout-block .shipping-methods button.ui-multiselect img.fade-a {
  background: -moz-linear-gradient(left,  rgba(226,237,248,0) 0%, rgba(226,237,248,1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(226,237,248,0)), color-stop(100%,rgba(226,237,248,1)));
  background: -webkit-linear-gradient(left,  rgba(226,237,248,0) 0%,rgba(226,237,248,1) 100%);
  background: -o-linear-gradient(left,  rgba(226,237,248,0) 0%,rgba(226,237,248,1) 100%);
  background: -ms-linear-gradient(left,  rgba(226,237,248,0) 0%,rgba(226,237,248,1) 100%);
  background: linear-gradient(to right,  rgba(226,237,248,0) 0%,rgba(226,237,248,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e2edf8', endColorstr='#e2edf8',GradientType=1 );
  width: 40px;
}

body.target-checkout .ui-multiselect-menu,
body.target-cart .ui-multiselect-menu {
  padding: 0px;
  min-width: 250px;
}

body.target-checkout .ui-multiselect-menu img.fade-a,
body.target-cart .ui-multiselect-menu img.fade-a {
  display: none;
}

body.target-checkout .ui-multiselect-checkboxes li,
body.target-cart .ui-multiselect-checkboxes li {
  padding-left: 0px;
  padding-right: 0px;
}

body.target-checkout .ui-multiselect-checkboxes li label,
body.target-cart .ui-multiselect-checkboxes li label {
  color: #62717a;
  border: 0px none;
  width: 223px;
  white-space: normal;
  overflow: hidden;
}

body.target-checkout .ui-multiselect-checkboxes li label span,
body.target-cart .ui-multiselect-checkboxes li label span {
  font-size: 13px;
  display: inline-table;
}

body.target-checkout .ui-multiselect-checkboxes li label.ui-state-active,
body.target-cart .ui-multiselect-checkboxes li label.ui-state-active {
  background-color: transparent;
  font-weight: bold;
  color: #62717a;
  border: 0px none;
}

body.target-checkout .ui-multiselect-checkboxes li label.ui-state-active span.value,
body.target-checkout .ui-multiselect-checkboxes li label.ui-state-active span.value span,
.checkout-block .shipping-methods button.ui-multiselect span.value span,
body.target-cart .ui-multiselect-checkboxes li label.ui-state-active span.value,
body.target-cart .ui-multiselect-checkboxes li label.ui-state-active span.value span
{
  color: #ff6c00;
}

body.target-checkout .ui-multiselect-checkboxes li label.ui-state-hover,
body.target-cart .ui-multiselect-checkboxes li label.ui-state-hover {
  background-color: #eff5fb;
  color: #62717a;
  border: 0px none;
}

body.target-checkout .ui-multiselect-checkboxes li span span,
body.target-cart  .ui-multiselect-checkboxes li span span{
  padding: 0px;
}

body.target-checkout .ui-multiselect-checkboxes li span.value,
body.target-checkout .ui-multiselect-checkboxes li label.ui-state-hover span.value,
body.target-cart .ui-multiselect-checkboxes li span.value
body.target-cart .ui-multiselect-checkboxes li label.ui-state-hover span.value
{
  color: #6fa3cc;
  padding-left: 5px;
}

body.target-cart .ui-multiselect-menu {
  z-index: 1300000;
}

.checkout-block .payments li {
  padding-left: 57px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.checkout-block .payments li input,
ul.shipping-rates li input
{
  margin: 0px;
  vertical-align: middle;
/*   margin-top: 2px; */
  margin-right: 3px;
}

.checkout-block .payments li .payment-title,
ul.shipping-rates li label
{
  font-size: 14px;
  vertical-align: middle;
  color: #689bd0;
}

.checkout-block .payments li .payment-description {
  padding-right: 20px;
  color: #bebebe;
  font-size: 12px;
  line-height: 16px;
  white-space: normal;
}

/* Step: order review */
.checkout-block .review-step .step-box .box {
  margin-left: 10px;
  margin-right: 0px;
  padding: 10px;
  padding-top: 9px;
  padding-left: 21px;
}

.checkout-block .review-step .items-row a {
  text-decoration: none;
  border-bottom: 1px dotted #2c5fa6;
  line-height: 16px;
  display: inline-block;
}

.checkout-block .review-step .items-row span.price {
  padding-right: 8px;
}

.checkout-block .review-step .list {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 14px 10px 9px;
  margin-top: 3px;
  font-size: 12px;
}

.checkout-block .review-step .list hr {
  margin: 5px 0px 7px;
}

.checkout-block .review-step .list li {
  line-height: normal;
  padding: 4px 0px 5px 0px;
}

.checkout-block .review-step .list li a {
  display: inline-block;
  width: 165px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.checkout-block .review-step .list li div,
.checkout-block .review-step .modifiers li,
.checkout-block .review-step .total
{
  color: #333;
}

.checkout-block .review-step .modifiers li .modifier-substring {
  color: #2c5fa6;
  font-size: 12px;
}

.checkout-block .review-step .modifiers {
  padding-top: 11px;
  padding-right: 1px;
}

.checkout-block .review-step .modifiers li {
  padding: 3px 7px 4px 0px;
}

.checkout-block .review-step .items-row span.price,
.checkout-block .review-step .list li div,
.checkout-block .review-step .modifiers span.value,
.checkout-block .review-step .total span.value
{
  float: right;
}

.checkout-block .review-step hr {
  border-color: #d4d4d4;
  margin: 14px 0px 9px 0px;
}

.checkout-block .review-step .total {
  font-size: 18px;
  padding-right: 8px;
}

.checkout-block .review-step .total span {
  color: #ff6c00;
}

.checkout-block .review-step p.note,
.checkout-block .review-step p.agree-note
{
  padding: 8px 0px;
  font-size: 12px;
  text-align: center;
}

.checkout-block form.place {
  padding: 13px 10px;
}

.checkout-block form.place .payment-tpl ul.form {
  padding-left: 0px;
  padding-bottom: 10px;
}

.checkout-block form.place .payment-tpl ul.form li {
  padding: 3px 0px;
}

.checkout-block form.place .payment-tpl ul.form .table-value {
  margin-top: 3px;
}

.checkout-block form.place .payment-tpl ul.form .star {
  padding-top: 4px;
  padding-left: 4px;
}

.checkout-block form.place .payment-tpl ul.form .table-label,
.checkout-block form.place .payment-tpl ul.form .star,
.checkout-block form.place .payment-tpl ul.form label
{
  display: inline;
  float: none;
}

.checkout-block form.place .payment-tpl ul.form .table-value {
  float: none;
}

.checkout-block form.place .payment-tpl ul.form label {
  width: auto;
}

.checkout-block form.place .notes label {
  display: block;
  padding-bottom: 6px;
}

.checkout-block form.place .notes textarea {
  width: 100%;
  height: 44px;
}

.ui-dialog.terms-popup {
  max-width: 680px;
}

.checkout-block form.place .button-row {
  padding-top: 20px;
  text-align: center;
}

.checkout-block form.place button.place-order {
  margin: auto;
}

.checkout-block form.place button.submitted {
  cursor: not-allowed;
}

.checkout-block form.place button.submitted:hover {
  background-position: center top;
}
/**
 * Checkout header specific styles
 */

.checkout-block .steps.step-1 .shipping-step .step-title img.right,
  .checkout-block .steps.step-2 .shipping-step .step-title img.right,
  .checkout-block .steps.step-3 .shipping-step .step-title img.right,
  .checkout-block .steps.step-2 .payment-step .step-title img.right,
  .checkout-block .steps.step-3 .payment-step .step-title img.right,
  .checkout-block .steps.step-3 .review-step .step-title img.right
{
  background-image: url(../images/checkout-header-active-right.png);
}

.checkout-block .steps.step-1 .shipping-step .step-title img.left,
  .checkout-block .steps.step-2 .shipping-step .step-title img.left,
  .checkout-block .steps.step-3 .shipping-step .step-title img.left,
  .checkout-block .steps.step-2 .payment-step .step-title img.left,
  .checkout-block .steps.step-3 .payment-step .step-title img.left,
  .checkout-block .steps.step-3 .review-step .step-title img.left
{
  background-image: url(../images/checkout-header-active-left.png);
}

.checkout-block .steps.step-1 .payment-step .step-title img.left,
  .checkout-block .steps.step-1 .review-step .step-title img.left,
  .checkout-block .steps.step-2 .review-step .step-title img.left
{
  background-image: url(../images/checkout-header-inactive-left.png);
}

.checkout-block .steps.step-1 .payment-step .step-title img.right,
  .checkout-block .steps.step-1 .review-step .step-title img.right,
  .checkout-block .steps.step-2 .review-step .step-title img.right
{
  background-image: url(../images/checkout-header-inactive-right.png);
}

.checkout-block .steps.step-1 .shipping-step .step-title span.text,
  .checkout-block .steps.step-2 .shipping-step .step-title span.text,
  .checkout-block .steps.step-3 .shipping-step .step-title span.text,
  .checkout-block .steps.step-2 .payment-step .step-title span.text,
  .checkout-block .steps.step-3 .payment-step .step-title span.text,
  .checkout-block .steps.step-3 .review-step .step-title span.text
{
  background-color: #7b96a9;
}

.checkout-block .steps.step-1 .payment-step .step-title span.text,
  .checkout-block .steps.step-1 .review-step .step-title span.text,
  .checkout-block .steps.step-2 .review-step .step-title span.text
{
  background-color: #d4d4d4;
}

/**
 * Address book : Select address
 */
.select-address {
}

.select-address ul.addresses {
  margin: 0px;
  padding: 0px;
  padding-top: 5px;
}

.select-address ul.addresses li {
  background: none;
  margin: 0px;
  padding-left: 2px;
}

.select-address ul.addresses > li {
  list-style: none;
  width: 278px;
  float: left;
  background: #f4f4f4 none;
  border: 1px solid #dfdfdf;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 13px 10px 12px;
  margin: 0px;
  margin-right: 30px;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}

.select-address ul.addresses > li.last {
  margin-right: 0px;
}

.select-address ul.addresses > li .shipping {
  position: absolute;
  right: 8px;
  bottom: 15px;
  background: transparent url(../images/icon_shipping.png) no-repeat left top;
  width: 42px;
  height: 20px;
}

.select-address ul.addresses > li .billing {
  position: absolute;
  right: 9px;
  bottom: 47px;
  background: transparent url(../images/icon_billing.png) no-repeat left top;
  width: 38px;
  height: 22px;
}

.select-address .goto {
  clear: both;
  font-size : 18px;
  padding-top: 5px;
  padding-left: 5px;
}

.ui-dialog .address-book {
  width: 741px;
}

.ui-dialog .address-book .block-subcontainer {
  padding: 27px 30px 23px;
}

.ui-dialog .address-book .head-h2.ajax-title-loadable {
  padding-left: 4px;
  font-size: 30px;
}

/**
 * Breadcrumbs
 */

ul.location-subnodes {
  padding: 10px;
  padding-top: 5px;
  border: 1px solid silver;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px silver;
  -webkit-box-shadow: 1px 1px 5px silver;
  -moz-box-shadow: 1px 1px 5px silver;
}

ul.location-subnodes li {
  padding: 0px 2px;
}

ul.location-subnodes li a.current {
  font-weight: bold;
}

/**
 * Order page
 */
.order-box {
  position: relative;
}

.order-box .order-statuses {
  position: absolute;
  right: 0;
  font-size: 22px;
  top: -34px
}

.order-box .order-statuses div {
  text-align: right;
}

.order-statuses span.label {
  font-size: 14px;
}

.shipping .order-status-WND,
.shipping .order-status-R,
.payment .order-status-C,
.payment .order-status-D
{
  color: #8d3021;
}

.shipping .order-status-D,
.payment .order-status-P
{
  color: #8f8f8f;
}

.order-box .links {
  margin-top: -1px;
  margin-bottom: 19px;
}

.order-box .links {
  padding-right: 24px;
  clear: none;
}

.order-box .links a {
  text-decoration: none;
}

.order-box .links a span {
  text-decoration: underline;
}

.order-box .links .back a strong {
  font-size: 18px;
  padding-right: 7px;
}

.order-box .links .print a {
  background: transparent url(../images/icon_printer.png) no-repeat left 3px;
  padding-left: 27px;
  padding-bottom: 4px;
}

.order-success-panel {
  max-width: 700px;
}

/**
 * Invoice
 */
.invoice-box {
max-width: 700px;
}

.invoice-box .header,
  .invoice-box .header td
{
  border: 1px none;
  vertical-align: top;
  padding: 0px;
}

.invoice-box .header .address {
  font-size: 15px;
  padding-left: 0px;
  padding-top: 29px;
  color: #333;
  width: 99%;
}

.invoice-box .header .address strong {
  font-size : 20px;
  font-weight: normal;
}

.invoice-box .header .address p {
  line-height: 18px;
  padding-top: 9px;
  padding-left: 2px;
  margin-bottom: 0px;
}

.invoice-box .header .address p.url {
  padding-top: 6px;
}

.invoice-box .header .address a {
  font-weight: normal;
}

.invoice-box .header img.logo {
  width: 180px;
  margin-top: 22px;
}

.invoice-box .head-h2 {
  font-size: 40px;
  margin-top: 11px;
  padding-left: 3px;
}

.invoice-box .subhead,
  .invoice-box .totals .total div
{
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

.invoice-box .subhead {
  padding-top: 1px;
  padding-left: 3px;
}

.invoice-box .subhead span {
  float: right;
}

.invoice-box .items {
  margin-top: 24px;
  margin-bottom: 10px;
  border: 0px none;
}

.invoice-box .items th {
  background: #f9f9f9 none;
  font-weight: normal;
  padding: 12px 22px;
  white-space: nowrap;
  color: #000000;
  font-size: 16px;
  text-align: center;
}

.invoice-box .items th.item {
  text-align: left;
}

.invoice-box .items th.total {
  text-align: right;
}

.invoice-box .items td {
  padding: 10px 20px;
  vertical-align: top;
}

.invoice-box .items td,
  .invoice-box .totals li.total,
  .invoice-box .items td *,
  .invoice-box .totals li.total *
{
  color: #000000;
}

.invoice-box .items td .subitem *,
  .invoice-box .totals li,
  .invoice-box .totals li *
{
  color: #5a5a5a;
}

.invoice-box .items td .subitem li{
    background: none;
    padding-left: 0;
}

.invoice-box .totals li,
  .invoice-box .totals li {
    background: none;
  }

.invoice-box .items tr:nth-child(odd) td {
  background: #f9f9f9;
}

.invoice-box .items td.sku,
.invoice-box .items td.qty,
.invoice-box .items td.price
{
  padding-bottom: 7px;
}

.invoice-box .items td.total {
  text-align: right;
}

.invoice-box .items td.price,
  .invoice-box .items td.qty
{
  text-align: center;
}

.invoice-box .items .item-name {
  font-size: 18px;
  font-weight: bold;
}

.invoice-box .items .subitem {
  padding-top: 3px;
  margin: 0px;
}

.invoice-box .items a {
  text-decoration: none;
}

.invoice-box .items td.name .additional {
  background-color: #eff8fe;
  margin-top: 4px;
  margin-bottom: 2px;
  padding: 9px 13px;
}

.invoice-box .items .separator img {
  height: 5px;
}

.invoice-box .items .separator td {
  border: 0px none;
  font-size: 0px;
  padding: 0px;
}

.invoice-box .totals {
  margin-bottom: 35px;
  white-space: nowrap;
  text-align: right;
}

.invoice-box .totals div {
  display: inline-block;
}

.invoice-box .totals .total {
  padding-top: 10px;
}

.invoice-box .totals .modifier-subvalues,
.invoice-box .totals .modifier-subvalues li
{
  padding: 0px;
  margin: 0px;
  list-style: none;
  background: transparent none;
}

.invoice-box .totals .modifier-subvalues li {
  text-align: right;
  white-space: nowrap;
  color: #8f8f8f;
}

.invoice-box .addresses,
  .invoice-box .addresses td
{
  border: 0px none;
  padding: 0px;
}

.invoice-box .addresses li.address{
    background: none;
    padding: 0;
}

.invoice-box .addresses td {
  width: 50%;
  font-size: 15px;
  vertical-align: top;
}

.invoice-box .addresses strong {
  color: #000;
  font-weight: normal;
  font-size: 20px;
  display: block;
  padding-bottom: 6px;
}

.invoice-box .addresses .wrapper {
  position: relative;
/*   min-width: 300px; */
  background: #f9f9f9;
  min-height: 300px;
  border-radius: 6px;
  padding: 20px;
}

.invoice-box .addresses strong.title {
  padding-bottom: 3px;
}

.invoice-box .addresses .method-box {
  position: absolute;
  bottom: 20px;
}

.invoice-box .addresses p {
  line-height: 18px;
  padding-top: 6px;
  margin-bottom: 0px;
}

.invoice-box .addresses .payment,
.invoice-box .addresses .shipping {
  padding-top: 20px;
  padding-right: 15px;
}

.invoice-box .thank-you {
  text-align: center;
  font-size: 18px;
  color: #333;
  border-bottom: 1px solid #bbc7d2;
  padding-top: 26px;
  padding-bottom: 36px;
  white-space: nowrap;
}

/* Page tabs */


div.tab-content
{
   margin: 15px 0px;
}

div.page-tabs ul li
{
  background: none;
}

div.page-tabs.tab-pages-1 {
    display: none;
}

table.login-form {
  margin: 10px 0 20px;
}

table.login-form,
table.recover-password-form
{
  min-width: 350px;
  width: auto;
}

.recover-password-message {
  width: 350px;
}

table.login-form,
  table.login-form tr,
  table.login-form th,
  table.login-form td,
  table.login-form tbody
{
  border: 0px none;
  border-spacing: 0px;
}

table.login-form td {
  padding: 10px 0px;
  vertical-align: middle;
}

table.login-form td:first-child {
  width: 100px;
}

table.login-form .form-error {
  padding-bottom: 20px;
}

.recover-password-message {
  margin: 0px 0px 10px 0px;
}

table.recover-password-form {
  margin: 20px 0px 0px 0px;
}

table.recover-password-form,
  table.recover-password-form tr,
  table.recover-password-form th,
  table.recover-password-form td,
  table.recover-password-form tbody
{
  border: 0px none;
  border-spacing: 0px;
}

table.recover-password-form td {
  padding: 5px 0px;
  vertical-align: middle;
}

table.recover-password-form td label {
  vertical-align: middle;
  margin: 0px;
}

table.recover-password-form button {
  margin-right: 5px;
}
button.force-notice {
  display: none;
}

/**
 * Popup specific styles
 */

form div.table-value.xcart-form-id-value {
  position: absolute;
  width: 0px;
  height: 0px;
}

.ui-widget {
  font-family: inherit;
  font-size: inherit;
}

.ui-widget-overlay {
  z-index: 99999 !important;
  background: #111418 none;
  opacity: 0.8;
  filter: none;
}

.overlay-blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}

.ui-dialog {
  z-index: 999999 !important;
  max-width: 750px;
}

.force-change-password-page #breadcrumb {
  display: none;
}

#main.force-change-password-section .head-h2 {
  font-size: 30px;
  line-height: 36px;
  margin: 20px 0px 16px;
}

#main.force-change-password-section ul.main-table {
  margin: 0px;
}

#main.force-change-password-section .header-text {
  font-size: 14px;
  padding: 0px 0px 20px 0px;
}

/**
 * Order statuses specific color
 */
.order-status-wrapper {
  color: #257d16;
}

.order-status-failed,
  .order-status-declined
{
  color: #8d3021;
}

.order-status-completed
{
  color: #8f8f8f;
}

.password-hidden {
  position: absolute;
  top: -999999px;
}
