{* vim: set ts=2 sw=2 sts=2 et: *}

{**
 * Payment methods list : title
 *
 * @author    Qualiteam software Ltd <info@x-cart.com>
 * @copyright Copyright (c) 2011-2014 Qualiteam software Ltd <info@x-cart.com>. All rights reserved
 * @license   http://www.x-cart.com/license-agreement.html X-Cart 5 License Agreement
 * @link      http://www.x-cart.com/
 *
 * @ListChild (list="payment.methods.list.row", weight=200)
 *}

<div class="title">{method.getName()}<img src="images/spacer.gif" class="fade" alt="" /></div>
