{* vim: set ts=2 sw=2 sts=2 et: *}

<widget class="XLite\Module\Frank\CallOrders\View\Form\ItemsList\SiteReview\Table" name="list" />
  <widget class="XLite\Module\Frank\CallOrders\View\ItemsList\Model\SiteReview" />
<widget name="list" end />

