{* vim: set ts=2 sw=2 sts=2 et: *}

{**
 * Call orders page template
 *
 * @author    Creative Development LLC <info@cdev.ru>
 * @copyright Copyright (c) 2011-2012 Creative Development LLC <info@cdev.ru>. All rights reserved
 * @license   http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 * @link      http://www.litecommerce.com/
 *}

<widget class="XLite\Module\Frank\CallOrders\View\Form\ItemsList\CallOrder\Table" name="list" />
  <widget class="XLite\Module\Frank\CallOrders\View\ItemsList\Model\CallOrder" />
<widget name="list" end />

