{* vim: set ts=2 sw=2 sts=2 et: *}

{**
 * "Wholesale pricing" tab
 *
 * @author    Qualiteam software Ltd <info@x-cart.com>
 * @copyright Copyright (c) 2011-2014 Qualiteam software Ltd <info@x-cart.com>. All rights reserved
 * @license   http://www.x-cart.com/license-agreement.html X-Cart 5 License Agreement
 * @link      http://www.x-cart.com/
 *}

<div class="dialog-block header-only">
  <div class="header clearfix">
    <span class="title">{t(#Wholesale pricing can be set up only for products without variants#)}</span>
  </div>
</div>
