/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Setting page styles
 *
 * @author    Qualiteam software Ltd <info@x-cart.com>
 * @copyright Copyright (c) 2011-2014 Qualiteam software Ltd <info@x-cart.com>. All rights reserved
 * @license   http://www.x-cart.com/license-agreement.html X-Cart 5 License Agreement
 * @link      http://www.x-cart.com/
 */

.payment-settings .dialog-content {
  display: inline-block;
  width: 540px;
}

.payment-settings div.table-label {
  width: 210px;
}

.payment-settings .logo-ppa {
  background: transparent url(../images/ppa.png) no-repeat left top;
  width: 316px;
  height: 40px;
  margin-bottom: 10px;
}

.payment-settings .logo-pfl {
  background: transparent url(../images/pfl.png) no-repeat left top;
  width: 280px;
  height: 126px;
  margin-bottom: 10px;
}

.payment-settings .logo-ppec {
  background: transparent url(../images/ppec.png) no-repeat left top;
  width: 228px;
  height: 44px;
  margin-bottom: 10px;
}

.payment-settings .logo-pc {
  background: transparent url(../images/pc.gif) no-repeat left top;
  width: 300px;
  height: 50px;
  margin-bottom: 10px;
}

.payment-settings .links {
  background-color: #F7F7F7;
  margin: 30px 0;
  padding-left: 20px;
}

.payment-settings .links a {
    font-size: 16px;
}

.payment-settings .help-link i {
    font-size: 14px;
    color: #154e9c;
}

.payment-settings .help-text i {
    font-size: 10px;
    color: #154e9c;
}

.payment-settings .external i {
    display: none;
}

.payment-settings .external:hover i {
  display: inline;
}

.payment-settings .help-text .tooltip-main {
  display: inline;
  padding: 0;
}

.payment-settings .help-text .tooltip-caption {
  font-size: 12px;
}

.payment-settings .help-text div.clear {
  clear: none;
  display: inline;
}

.payment-settings .form-field-comment.email-comment {
  width: auto;
}