<div class="product-details product-info-{product.getProductId()} box-product">
  <widget class="\XLite\View\Form\Product\AddToCart" name="add_to_cart" product="{product}" className="product-details" validationEngine />
    <list name="product.details.page" />
  <widget name="add_to_cart" end />

  <div class="row">
      <img src="{getStaticImage(#../modules/XC/CustomSkin/images/lamarant_main_page_is.jpg#)}" class="img-responsive"  />
  </div>
</div>
<div class="clearfix"></div>

<div class="block block-block recommended-products">
  <h2 class="fancy"><span>Рекомендуемые товары</span></h2>
  <widget class="\XLite\Module\XC\CustomSkin\View\ItemsList\Product\Customer\Category\Main" target="product" />
</div>

