{* vim: set ts=2 sw=2 sts=2 et: *}

<div class="col-md-9">

  <widget IF="{isTrialNoticeAutoDisplay()}" class="\XLite\View\ModulesManager\TrialNotice" />
  <div class="section">
    <a id="main-content"></a>
    <div id="breadcrumb">
      <div class="container nopadding">
          <list name="layout.main.breadcrumb" />
      </div>
    </div>
    {if:isCheckoutLayout()}
    <div id="breadcrumb" style="display: block;">
      <div class="container nopadding">
        <ul class="breadcrumb">
          <li class="location-node">
            <a href="http://lamarant.ru/" class="location-title home-link">Главная</a>
          </li>
          <li class="location-node expandable last">
            <a href="http://lamarant.ru/?target=checkout" class="location-title"><span>Оформление заказа</span></a>
          </li>
        </ul>
      </div>
    </div>
    {end:}
    <div class="clearfix"></div>

    {if:isFrontPage()}
      <div class="row">
        <div class="col-md-6 nopadding-right">
          <a class="front-page-category" href="/uggi">
            <img src="{getStaticImage(#main/uggi.jpg#)}" class="img-responsive"  />
          </a>
        </div>
        <div class="col-md-6 nopadding-left">
          <a class="front-page-category" href="/kedy">
            <img src="{getStaticImage(#main/kedy.jpg#)}" class="img-responsive"  />
          </a>
        </div>

      </div>

      <div class="row">
        <img src="{getStaticImage(#../modules/XC/CustomSkin/images/lamarant_main_page_is.jpg#)}" class="img-responsive"  />
      </div>

      <div class="block block-block">
        <h2 class="fancy"><span>Суперпредложения</span></h2>
        <widget class="\XLite\Module\XC\CustomSkin\View\ItemsList\Product\Customer\Category\Main" category_id="50" />
      </div>

      <div class="block block-block">
        <h2 class="fancy"><span>Новинки</span></h2>
        <widget class="\XLite\Module\XC\CustomSkin\View\ItemsList\Product\Customer\Category\Main" category_id="49" />
      </div>

      <h2 style="text-indent: 20px; margin-top: 0;">ИСТОРИЧЕСКАЯ СПРАВКА ОБ УГГАХ</h2>
      <div style="color: #595959">
      <p style="text-indent: 20px">Точно неизвестно где и когда впервые придумали угги. Хотя на это авторское право упорно
      претендуют Австралия и Новая Зеландия. Прошло вот уже несколько веков, как сапоги с
      овечьим мехом вошли в постоянный обиход у австралийских фермеров, благодаря своему
      удобству и потрясающей функции сохранения тепла внутри сапога. <a href="http://lamarant.ru/uggi">Угги Австралия</a>
      стали пользоваться спросом среди серфингистов, пловцов и дайверов, ведь они позволяют
      согреть ноги за максимально короткий период времени. Также <a href="http://lamarant.ru/uggi">австралийские угги</a> стали
      <a href="http://lamarant.ru">покупать</a> люди, занимающиеся лыжным спортом и сноубордисты. Ведь уже многие смогли
      отметить, что угги из Австралии прекрасно подходят не только для холодной погоды,
      но и для сырого, влажного климата. При относительно небольших заморозках, в уггах не
      холодно даже без носков. А если носить такие сапожки с носками из натуральной шерсти,
      то температура тела будет постоянно поддерживаться и при весьма суровых морозах.
      Механизм действия простой. Во-первых, в уггах очень толстая резиновая подошва. А как
      известно, чем толще подошва, тем теплее. Во-вторых, внутри сапожки густо набиты очень
      толстым слоем овчинной шерсти. И даже это нельзя назвать главным фактором. Вся фишка
      в терморегуляционной функции овечьей шерсти. У нее есть просто потрясающее свойство
      впитывать излишнюю влагу. Именно сухие ноги дольше остаются в тепле и не мерзнут.
      Поэтому купить угги стало целью все большего круга потребителей. </p>

      <p style="text-indent: 20px">Как уже стало понятно, изначально угги были самой простой фермерской обувью, без
      особого шика и лоска. Даже само название сапог «ugg» происходит от английского
      слова «ugly», что в переводе означает уродливый, некрасивый. Стоило только сапожкам
      попасть в Америку, как сразу же звезды Голливуда – Памела Андерсон, Кейт Хадсон, Ева
      Лонгория и проворные маркетологи делают из угг самый ходовой товар. Но не в качестве
      обуви для дачи или пикника, а как самый стильный тренд сезона. Вот такой вот парадокс.
      Теперь угги заполняют все полки магазинов и прилавков. Кожаные сапожки с овечьим
      мехом – мечта любой модницы. В них можно отдохнуть от каблуков, но при этом оставаться
      такой же стильной. Угги подходят к обтягивающим джинсам и лосинам. Их прекрасно
      можно сочетать с платьями и юбками. Наш <a href="http://lamarant.ru">интернет магазин угги</a> предлагает широкий
      выбор таких зимних сапожек на любой вкус. От низких и стандартных, до высоких. Вашему
      вниманию предлагаются дизайнерские угги с пуговицами, кнопками и заклепками, бантами,
      лентами, ремешками, мехом. В наличии есть всевозможные расцветки: от стандартного
      черного, рыжего, шоколадного, бежевого, серого, до розового, золотого, серебристого и с
      различными популярными узорами. Но следует заметить, что угги – это не только обувь для
      женщин. Есть и мужские, и даже детские модели. </p>

      <p style="text-indent: 20px">Угги в Москве не менее популярны, чем в том же Голливуде. Суровые московские погоды
      буквально обязывают иметь угги в своем гардеробе. Купить угги в Москве можно,
      конечно, где угодно. Их продают и в магазинах, и на базарах и в подземных переходах.
      Только предлагаем хорошенько задуматься, есть ли смысл от такой покупки. Главное
      преимущество угг в их натуральности. Именно натуральная овечья шерсть способствует
      образованию необходимого тепла и микроклимата внутри сапога. Если сапоги не настоящие,
      а всего лишь китайская подделка из синтетики, то весь смысл угг Австралия пропадает.
      Ноги в синтетической обуви начинают запотевать и мерзнуть. Не экономьте на себе, своем
      комфорте и здоровье. Приобретайте только оригинальные, сертифицированные товары из
      натуральной кожи и овечьей шерсти от производителя.</p>
      <br />
      </div>
    {end:}


    <widget template="center.tpl" />
    <widget class="\XLite\Module\XC\CustomSkin\View\CategoriesGrid" />
  </div>
</div>

