/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Configuration styles
 *
 * @author    Qualiteam software Ltd <info@x-cart.com>
 * @copyright Copyright (c) 2011-2014 Qualiteam software Ltd <info@x-cart.com>. All rights reserved
 * @license   http://www.x-cart.com/license-agreement.html X-Cart 5 License Agreement
 * @link      http://www.x-cart.com/
 */

.payment-conf {
  position: relative;
}

.payment-conf .box {
  border: 1px solid #dfe5e8;
  width: 698px;
  background-color: #f2f2f2;
  margin: 0px;
  margin-bottom: 50px;
  position: relative;
}

.payment-conf .box h2 {
  color: #333;
  background-color: #f2f2f2;
  border-bottom: 1px solid #fff;
  margin: 0px;
  padding-left: 29px;
  padding-right: 29px;
  line-height: 80px;
}

.payment-conf .box .content {
  background: transparent url(../../images/payment_box_bg.png) repeat-x left top;
  padding: 33px 29px 0px 29px;
}

.payment-conf .box .content p {
  color: #456583;
  font-size: 16px;
  line-height: 24px;
  padding: 3px 3px 15px 3px;
  margin: 0px;
}

.payment-conf .no-payment-modules button {
  margin-top: 17px;
  margin-bottom: 0px;
}

.payment-conf .counter {
  float: right;
  color: #8f8f8f;
  margin-top: 24px;
  font-size: 14px;
  padding-right: 12px;
}

.payment-conf button.add-method {
  margin-top: 18px;
  margin-bottom: 0px;
  padding-top: 4px;
}

.payment-conf button.add-method span {
  padding-left: 3px;
}

button.add-method.top-button-add-method {
  position: absolute;
  right: 20px;
  top: 5px;
}

/* Subboxes */

.right-panel-payment-modules {
  position: absolute;
  top: 0px;
  left: 730px;
}

.right-panel-payment-modules .subbox {
}

.right-panel-payment-modules .subbox.marketplace {
  border: 1px solid #dfe5e8;
  border-radius: 4px;
  padding: 16px;
  text-align: center;
  position: relative;
  display: inline-block;
}

.right-panel-payment-modules .subbox.marketplace .payment-logos {
  padding: 10px 0 20px 0;
  width: 234px;
}

.right-panel-payment-modules .subbox.marketplace h2 {
  color: #e69b09;
}

.payment-conf .subbox {
  margin-bottom: 20px;
}

.payment-conf .subbox h2 {
  margin-top: 2px;
  margin-bottom: 6px;
  font-size: 17px;
  color: #333;
}

.payment-conf .subbox p {
  line-height: 18px;
  color: #555;
  margin-bottom: 3px;
}

.payment-conf .subbox button {
  height: 38px;
  padding-top: 6px;
  margin-top: 20px;
}

.payment-conf .subbox button span {
  font-size: 14px;
  padding-left: 7px;
  padding-right: 6px;
}

/* Watch video subbox */
.payment-conf .subbox.watch-video button.watch-video span {
  background: transparent url(../../images/watch_video.png) no-repeat 5px top;
  padding-left: 36px;
  padding-right: 7px;
}

/* Offline box  */
.payment-conf .box.offline-methods .content {
  padding-bottom: 19px;
}

/* List */
.payment-conf .methods ul {
  padding: 10px 0px;
}

.payment-conf .methods li {
  margin: 0px;
  margin-bottom: 20px;
  white-space: nowrap;
}

.payment-conf .methods li .line-row {
  min-width: 499px;
  background-color: #fff;
  height: 48px;
  padding: 5px;
  display: inline-block;
}

.payment-conf .methods li .line-row div {
  display: inline-block;
}

.payment-conf .methods li .action {
  height: 40px;
  vertical-align: top;
}

.payment-conf .methods li .left-action,
.payment-conf .methods li .title {
  float: left;
}

.payment-conf .methods li .right-action {
  float: right;
}

.payment-conf .methods li .action .separator {
  background: transparent url(../../items_list/model/table/images/line-separator.png) repeat-y left top;
  width: 2px;
  height: 17px;
  vertical-align: top;
  margin-top: 11px;
}

.payment-conf .methods li .left-action .separator {
  margin-left: 1px;
}

.payment-conf .methods li .right-action .separator {
  margin-right: 1px;
}

.payment-conf .methods li .switch {
  border: 3px solid #fff;
  background-color: transparent;
}

.payment-conf .methods li .switch.enabled {
  background-color: #eafde2;
  border-color: #c2edb0;
}

.payment-conf .methods li .switch img {
  background: transparent url(../../images/switch.png) no-repeat left -16px;
  width: 16px;
  height: 16px;
  margin: 9px 10px;
}

.payment-conf .methods li .switch.enabled img {
  background-position: left 0px;
}

.payment-conf .methods li.blocked-disable .switch {
  background-image: url(../../images/force_enabled_method.png);
  border: 0px none;
  width: 40px;
  height: 40px;
}

.payment-conf .methods li.blocked-enable .switch {
  background-image: url(../../images/force_disabled_method.png);
  border: 0px none;
  width: 40px;
  height: 40px;
}

.payment-conf .methods li.blocked-switch .switch {
  cursor: help;
}

.payment-conf .methods li.blocked-switch .switch img {
  margin: 12px 13px;
}

.payment-conf .methods li.has-icon .icon {
  min-height: 52px;
  width: 154px;
  border: 0px none;
  border-radius: 6px 6px 0px 0px;
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  background-color: #fff;
  margin-bottom: 8px;
  overflow: hidden;
}

.payment-conf .methods li.has-icon .icon img {
  padding: 15px 25px 10px 25px;
  vertical-align: middle;
  width: auto;
  height: auto;
  max-width: 154px;
  max-height: 59px;
}

.payment-conf .methods li.has-not-icon {
  margin-top: -19px;
}

.payment-conf .methods li .title {
  color: #333;
  font-size: 16px;
  padding: 11px 12px;
  vertical-align: top;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  width: 300px;
}

.payment-conf .methods li .title .fade {
  background: transparent url(../../images/right_fade.png) repeat-y right top;
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 20px;
  height: 100%;
}

.payment-conf .methods li .remove {
  padding: 11px 8px;
}

.payment-conf .methods li .remove img {
  background: transparent url(../../images/icon_trash.png) no-repeat left top;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.payment-conf .methods li .warning {
  padding: 6px 3px 5px 10px;
  vertical-align: top;
}

.payment-conf .methods li .warning img {
  background: transparent url(../../images/warning.png) no-repeat left top;
  width: 28px;
  height: 28px;
}

.payment-conf .methods li .test-mode {
  padding: 6px 3px 5px 10px;
  vertical-align: top;
}

.payment-conf .methods li .test-mode img {
  background: transparent url(../../images/test_mode.png) no-repeat left top;
  width: 28px;
  height: 28px;
}

.payment-conf .methods li button.configure {
  margin: 0 0 0 11px;
  vertical-align: top;
  height: 48px;
}

.payment-conf .methods li div.configure {
  vertical-align: top;
  padding-top: 10px;
  padding-left: 13px;
  padding-right: 9px;
}

.payment-conf .methods li div.configure img {
  background: transparent url(../../images/gear.png) no-repeat left top;
  width: 20px;
  height: 20px;
}

.payment-conf .methods li .subseparator {
  background-color: #d7d7d7;
  width: 1px;
  height: 15px;
}

.payment-conf .methods.offline {
  padding-bottom: 20px;
}

/**
 * Popup styles
 */

.add-payment-box {
  width: 850px;
}

.add-payment-box.payment-type-A {
  margin-top: 10px;
}

.add-payment-box .body {
  clear: both;
}

.add-payment-box .body .body-item {
  display: none;
}

.add-payment-box .body .body-box {
  border: solid 1px #c2cbd2;
  border-top: none;
  padding: 20px 0px 35px 30px;
  background-color: #f4f4f4;
}

.add-payment-box .alternative-methods .body .body-box {
  border: solid 1px #c2cbd2;
}

.add-payment-box .body .body-item.selected {
  display: block;
}

.add-payment-box .header {
  border-top: solid 1px #c2cbd2;
  border-left: solid 1px #c2cbd2;
  border-right: solid 1px #c2cbd2;
  border-radius: 10px 10px 0px 0px;
  width: 49%;
  background: #f4f4f4 url(../../images/header-tab-background.png) 0px 0px repeat-x;
}

.add-payment-box .headers {
  height: 81px;
  border-bottom: solid 1px #c2cbd2;
}

.add-payment-box .header .header-wrapper {
  padding: 10px 0px 0px 0px;
  margin: 0 auto;
  width: 230px;
  height: 80px;
  text-align: center;
}

.add-payment-box .header.all-in-one-solutions {
  float: right;
}

.add-payment-box .header.payment-gateways {
  float: left;
}

.add-payment-box .header,
  .add-payment-box .header *
{
  cursor: pointer;
}

.add-payment-box .headers .header.selected {
  background: #f4f4f4;
}

.add-payment-box .headers .header.selected .header-wrapper {
  border-bottom: solid 1px #f2f2f2;
}

.add-payment-box .headers .header .main-head {
  font-size: 24px;
  color: #3264a9;
  white-space: nowrap;
}

.add-payment-box .headers .header.selected .main-head {
  color: #333333;
  white-space: nowrap;
}

.add-payment-box .headers .header .small-head {
  color: #456583;
  margin: 0 auto;
  white-space: nowrap;
}

.add-payment-box .headers .header.payment-gateways .small-head {
  margin-left: -5px;
}

.everything-you-need {
  color: #3264a9;
  margin: 6px 0px 10px 0px;
  font-size: 18px;
}
.marketplace-block {
  background-color: #fffde4;
  border-radius: 4px;
  font-size: 18px;
  margin: 45px 40px 0 0;
  padding: 20px 0;
  text-align: center;
}

.marketplace-block a {
  color: #2570c1;
}

.body .description {
  margin: 0px 30px 0px 0px;
  font-size: 14px;
}

.payments-list .payment-method-icon img {
  background-color: #ffffff;
  padding: 15px 25px 10px 25px;
  border-radius: 10px 10px 0px 0px;
}

.payments-list .payment-method-entry {
  margin: 0px 40px 10px 0px;
  background-color: #ffffff;
  height: 50px;
}

.payments-list .payment-method-entry .description,
 .title-row .title
{
  padding: 13px 22px 10px 0px;
}

.payments-list .payment-method-entry .description {
  color: #8f8f8f;
  padding-top: 0px;
  padding-bottom: 20px;
  font-size: 14px;
}

.title-row .title {
  float: left;
  font-size: 18px;
}

.title-row .payment-logo {
  float: left;
  width: 150px;
  height: 50px;
  padding: 10px 0px 10px 20px;
  line-height: 30px;
}

.title-row .payment-logo img {
  max-height: 32px;
  max-width: 110px;
}

.title-row .separator,
  .title-row .button
{
  float: right;
}

.title-row .button {
  padding: 8px 10px 8px 10px;
  width: 110px;
}

.title-row .button button {
  min-width: 80px;
  width: auto;
}

.payment-gateways .search-conditions-box .actions button {
  min-width: 80px;
  width: auto;
}

.title-row .separator {
  background: transparent url(../../images/payments-list-separator.png) 0px 16px no-repeat;
  width: 2px;
  height: 40px;
  margin-right: 5px;
}

.payment-method-entry .links li {
  float: left;
  font-size: 14px;
  margin: 5px 0px 15px 22px;
  text-decoration: underline;
}

.payment-method-entry .links li a {
  color: #154e9c;
}

/**
 * Alternative payment methods popup widget
 */
.tabs-container.alternative-methods .tab .body,
  .tabs-container.offline-methods .tab .body
{
  padding: 0px;
}

/* Add offline payment method */
form.add-offline-method button.action {
  margin-left: 273px;
}

.payment-gateways .search-conditions-box .search-conditions {
  min-width: 772px;
}

.ajax-container-loadable .payment-gateways .search-conditions-box {
  width: 780px;
}

.payment-gateways .search-conditions-box .search-conditions div.table-value input[type="text"] {
  width: 640px;
}

.payment-gateways .search-conditions-box .search-conditions > li.actions {
  padding-right: 25px;
}

.payment-gateways .search-conditions-box .search-conditions > li {
  padding-right: 0px;
}

.no-payment-methods-appearance .no-payments-found {
  font-size: 24px;
}

.no-payment-methods-appearance .no-payments-marketplace-link {
  font-size: 16px;
  color: #51799a;
}

.no-payment-methods-appearance .box {
  text-align: center;
}
