/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * States page styles
 *
 * @author    Qualiteam software Ltd <info@x-cart.com>
 * @copyright Copyright (c) 2011-2014 Qualiteam software Ltd <info@x-cart.com>. All rights reserved
 * @license   http://www.x-cart.com/license-agreement.html X-Cart 5 License Agreement
 * @link      http://www.x-cart.com/
 */

.items-list-table table.list tr td.code div.cell {
  width: 100px;
}

.items-list-table table.list .cell.code .inline-field input {
  width: 70px;
}

ul.states-list {
  padding-bottom: 40px;
}

ul.states-list li {
  display: inline-block;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

ul.states-list li span,
ul.states-list li a {
  font-size: 16px;
}

ul.states-list li a {
  text-decoration: underline;
}

ul.states-list li span {
  padding: 5px 10px;
  background-color: #ebf7ff;
  border: 1px solid #cadce8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: context-menu;
}
