/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Layout styles
 *
 * @author    Qualiteam software Ltd <info@x-cart.com>
 * @copyright Copyright (c) 2011-2014 Qualiteam software Ltd <info@x-cart.com>. All rights reserved
 * @license   http://www.x-cart.com/license-agreement.html X-Cart 5 License Agreement
 * @link      http://www.x-cart.com/
 */

.lc-minicart .items-list {
  padding: 10px;
  width: 330px;
}

.or-line .or {
  font-size: 10px;
}

.lc-minicart .buttons-row {
  white-space: nowrap;
}

.cart-tray .btn {
  font-size: 13px;
  padding-left: 12px;
  padding-right: 12px;
}
