{* vim: set ts=2 sw=2 sts=2 et: *}

{**
 * Send notification checkbox
 *
 * @author    Qualiteam software Ltd <info@x-cart.com>
 * @copyright Copyright (c) 2011-2014 Qualiteam software Ltd <info@x-cart.com>. All rights reserved
 * @license   http://www.x-cart.com/license-agreement.html X-Cart 5 License Agreement
 * @link      http://www.x-cart.com/
 *}

<label class="disabled">
  <input type="checkbox" name="sendNotification" class="disabled" value="1" checked="checked" />
  <span>{t(#Notify customer#)}</span>
</label>

<div id="is_beta">
  <a href="https://blog.x-cart.com/5-1-6-released.html" target="_blank">{t(#The AOM feature is in Beta#)}</a>
</div>
