/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Dashboard page styles
 *
 * @author    Qualiteam software Ltd <info@x-cart.com>
 * @copyright Copyright (c) 2011-2014 Qualiteam software Ltd <info@x-cart.com>. All rights reserved
 * @license   http://www.x-cart.com/license-agreement.html X-Cart 5 License Agreement
 * @link      http://www.x-cart.com/
 */


/**
 * Markup styles
 */
.dashboard {
  display: table-row;
}

.dashboard .center-block {
  display: table-cell;
  width: 1000px;
}

.dashboard .sidebar {
  padding-left: 25px;
  display: table-cell;
  vertical-align: top;
  text-align: left;
}

.sidebar > .dialog-content {
  width: 295px;
}

.dashboard .center-block .title {
  text-align: left;
}

.sidebar {
  padding-top: 65px;
}

.sidebar.admin-welcome-indent {
  padding-top: 0;
}

div.tabs {
  margin: 31px 0px 28px;
}

.js-tabs div.tabs
{
  clear: both;
  margin-top: 0;
  margin-bottom: 20px;
}

.js-tabs.dashboard-tabs {
  margin-top: 60px;
  text-align: left;
}

div.tabs .primary {
  height: 33px;
  line-height: 32px;
  padding: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-collapse: collapse;
}

ul.tabs,
  div.tabs ul.primary span
{
  border-color: #CADCE8;
}

ul.tabs li {
  display: inline;
  white-space: nowrap;
}

div.tabs .primary a,
div.tabs .primary span {
  padding: 11px 18px 8px;
  vertical-align: baseline;
  border-style: solid solid none solid;
  border-width: 1px;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
}

div.tabs .primary .active a,
div.tabs .primary a:hover,
div.tabs .primary .active a:hover,
div.tabs .primary .active span,
div.tabs .primary span:hover,
div.tabs .primary .active span:hover {
  border-bottom-color: white;
  background: white;
}

div.tabs .primary .active a,
div.tabs .primary .active span {
  padding-bottom: 9px;
}

ul.primary li a, ul.primary li span {
  -moz-border-radius-topleft: 12px;
  -moz-border-radius-topright: 12px;
  -webkit-border-top-left-radius: 12px;
  -webkit-border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

div.tabs .primary a, div.tabs .primary span {
  background: #EFF8FE repeat-x top left;
}

.target-main .center-block .items-list-table table.list,
.target-main .center-block .items-list-table
{
  width: 100%;
}

.target-main .items-list-table table.list tbody.lines td,
.target-main .items-list-table table.list tbody.lines td span,
.target-main .items-list-table table.list tbody td.main div,
.target-main .items-list-table table.list tbody td div {
  font-size: 14px;
}

.target-main .items-list-table table.list .cell.shippingStatus,
.target-main .items-list-table table.list .cell.paymentStatus {
  padding-left: 0;
}

.target-main .items-list-table table.list .cell.shippingStatus span,
  .target-main .items-list-table table.list .cell.paymentStatus span
{
  width: 100%;
  padding: 0 10px;
  display: inline-block;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.target-main .items-list-table table.list .cell.shippingStatus span a,
.target-main .items-list-table table.list .cell.paymentStatus span a {
  color: #333;
}

.target-main .items-list-table table.list .cell.shippingStatus .status-S,
.target-main .items-list-table table.list .cell.shippingStatus .status-P,
.target-main .items-list-table table.list .cell.paymentStatus .status-A,
.target-main .items-list-table table.list .cell.paymentStatus .status-PP {
  background-color: #b6d7a8;
}

.target-main .items-list-table table.list .cell.shippingStatus .status-D,
.target-main .items-list-table table.list .cell.paymentStatus .status-P {
  background-color: #93c47d;
}

.target-main .items-list-table table.list .cell.shippingStatus .status-WND,
.target-main .items-list-table table.list .cell.paymentStatus .status-D,
.target-main .items-list-table table.list .cell.paymentStatus .status-C {
  background-color: #ea9999;
}

.target-main .items-list-table table.list .cell.shippingStatus .status-N,
.target-main .items-list-table table.list .cell.paymentStatus .status-Q {
  background-color: #d9ead3;
}

.target-main .items-list-table table.list .cell.shippingStatus .status-R,
.target-main .items-list-table table.list .cell.paymentStatus .status-R {
  background-color: #6fa8dc;
}

.target-main .items-list-table table.list .cell.date .cell {
  display: inline-block;
}

.target-main .items-list-table table.list .cell.profile div.profile-email {
  display: none;
}

.target-main .more-link-button {
  display: inline-block;
  -moz--border-radius: 2px;
  -webkit--border-radius: 2px;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
  padding: 6px 10px;
  margin: 18px 0px 0px 20px;
  vertical-align: top;
  background: #fff;
}

.target-main .table-pager .left .pages-nav,
.target-main .table-pager .left .last
{
  display: none;
}

.target-main .items-list.orders table.list tbody.lines tr.line td.profile div.cell {
  width: 200px;
}

.target-main .items-list.products table.list tbody td.qty,
.target-main .items-list.products table.list tbody td.sold {
  text-align: center;
}

.target-main .items-list.products table.list tbody td.qty .view,
.target-main .items-list.products table.list tbody td.sold .view {
   font-size: 16px;
}

.target-main .items-list.products table.list tbody.lines tr.line td.name div.cell {
  width: 200px;
}

.target-main .empty-list {
  font-size: 14px;
  color: #8F8F8F;
}

.target-main .js-tabs ul.tabs li.empty span {
  color: #93B4CA;
}

.target-main .items-list-table table.list td.main {
  min-width: 0;
}

.dialog-content .items-list.products table.list td.name .plain-value {
  width: 300px;
  overflow: hidden;
}
