/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Products list styles
 *
 * @author    Qualiteam software Ltd <info@x-cart.com>
 * @copyright Copyright (c) 2011-2014 Qualiteam software Ltd <info@x-cart.com>. All rights reserved
 * @license   http://www.x-cart.com/license-agreement.html X-Cart 5 License Agreement
 * @link      http://www.x-cart.com/
 */


.products .added-to-cart {
  display: none;
}

.product.product-added .added-to-cart
{
  display: block;
  position: absolute;
  right: 2px;
  top: 1px;
  width: 24px;
  height: 24px;
  color: #5fab6f;
  font-size: 19px;
}

table.products-grid,
table.products-grid td,
table.product,
table.product td
{
  border-style: none;
}

table.products-grid td,
table.product td
{
  vertical-align: top;
}

table.grid-1-columns td
{
  width: 100%;
}

table.grid-2-columns td
{
  width: 50%;
}

table.grid-3-columns td
{
  width: 33.3333%;
}

table.grid-4-columns td
{
  width: 25%;
}

table.grid-5-columns td
{
  width: 20%;
}

table.product td.product-photo
{
  width: 1px;
}


ul.products-grid,
ul.products-list,
ul.products-sidebar
{
  margin: 0;
  padding: 0;
}
ul.products-grid{
    margin: 0 -16px 0 0;
}

ul.products-grid li,
ul.products-list li,
ul.products-sidebar li
{
  background-image: none;
  list-style: none;
  padding-left: 0;
}

ul.products-sidebar li {
  padding-bottom: 20px;
  position: relative;
}

ul.products-sidebar li.last {
/*   padding-bottom: 0px; */
}

ul.products-sidebar li .product {
  padding: 2px 8px 8px;
}

ul.products-sidebar li h3.product-name {
  display: inline;
}

ul.products-sidebar li .clearfix {
  clear: none;
}

.products div.product,
.products div.product-info,
.products div.product-photo
{
  position: relative;
}

.products .product-cell .drag-n-drop-handle
{
  background: transparent url(images/icon_drag.png) no-repeat left center;
  padding-left: 20px;
  visibility: hidden;
  cursor: move;
}

.products .product-cell .ui-draggable-disabled .drag-n-drop-handle {
  background: none;
}

.products .product-cell .drag-n-drop-handle,
.products .product-cell .quicklook,
.products .product-cell:hover .ui-draggable-dragging .quicklook,
.products .product-cell:hover .drag-owner .quicklook
{
  visibility: hidden;
}

.products .product-cell:hover .drag-n-drop-handle,
.products .ui-draggable-dragging .drag-n-drop-handle,
.products .product-cell:hover .quicklook
{
  visibility: visible;
}

.products .out-of-stock .drag-n-drop-handle,
.products .not-available .drag-n-drop-handle
{
  background: transparent none;
  padding-left: 0;
  cursor: default;
}

.products .drag-n-drop-handle .out-message,
  .products .drag-n-drop-handle .choose-product-option
{
  display: none;
}

.products .out-of-stock .drag-n-drop-handle .drag-message,
  .products .not-available .drag-n-drop-handle .drag-message,
  .products .need-choose-options .drag-n-drop-handle .drag-message
{
  display: none;
}

.products .out-of-stock .drag-n-drop-handle .out-message
{
  display: inline;
}

.products .need-choose-options .drag-n-drop-handle .choose-product-option
{
  display: inline;
  cursor: default;
}

.need-choose-options.ui-state-disabled,
  .ui-widget-content .need-choose-options.ui-state-disabled,
  .ui-widget-header .need-choose-options.ui-state-disabled
{
  opacity: 1;
  filter: Alpha(Opacity=100);
  background-image: none;
}

.products .product .quicklook
{
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -25px;
  z-index: 100;
  background: transparent;
}

.quicklook a.quicklook-link
{
  display: block;
  width: 53px;
  height: 53px;
  margin: 0 auto;
  padding: 0px;
}

.quicklook a.quicklook-link div.quicklook-view {
  display: block;
  width: 53px;
  height: 53px;
  background: transparent url(images/icon_quick_look.png) no-repeat top left;
  margin: 0px;
  padding: 0px;
}

.products-grid .product-name,
.products-grid .product-thumbnail,
.products-grid span.product-price
{
  display: block;
}

.products-grid a.product-thumbnail
{
  text-align: center;
}

.products input.product-add2cart
{
  background: transparent url(images/bag/small.png) no-repeat;
  width: 29px;
  height: 26px;
  border: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  outline: none;
}

.products input.product-add2cart:hover,
.products input.product-add2cart:active,
.products input.product-add2cart:focus{
  box-shadow: none;
}

.products .products-table .out-of-stock input,
.products .products-table .not-available input
{
  background: transparent url(images/bag/out.png) no-repeat;
  width: 29px;
  height: 26px;
  cursor: default;
  border: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  outline: none;
}

.cart-tray
{
  position: fixed;
  top: 5em;
  right: 5em;
  z-index: 200;
  width: 158px;
  height: 221px;
  border-style: solid;
  background-color: white;
}

.cart-tray .tray-area,
.preload-cart-tray
{
  background-image: url(images/bag/tray.png);
  background-repeat: no-repeat;
  background-position: center top;
}

.cart-tray.cart-tray-added .tray-area
{
  background-position: center bottom;
}

.cart-tray .product-added.tray-status button.action
{
  position: relative;
  top: 3px;
  padding: 6px 24px;
  margin: 0px;
  white-space: normal;
  height: auto;
}

.cart-tray .product-added.tray-status button.action span
{
  white-space: normal;
}

.preload-cart-tray {
  position: absolute;
  left: 0px;
  top: 0px;
}

.cart-tray-box,
.cart-tray-active .progress-bar,
.cart-tray-active .product-added,
.cart-tray-adding .drop-here,
.cart-tray-box .dropped-here,
.cart-tray-adding .product-added,
.cart-tray-added .drop-here,
.cart-tray-added .progress-bar
{
  display: none !important;
}

.cart-tray-active,
.cart-tray-moving .drop-here,
.cart-tray-adding .progress-bar,
.cart-tray-added .product-added
{
  display: block !important;
}

.cart-tray .tray-status,
.cart-tray .block-wait
{
  text-align: center;
  margin: 0 auto;
}

.products-sidebar-small-thumbnails .clear,
.products-sidebar-big-thumbnails .clear
{
  clear: both;
}

.products .labels {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.products .labels li {
  background-color: transparent;
}


.products-grid .labels,
.products-list .labels,
.products-sidebar-big-thumbnails .labels
{
  position: absolute;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.products-grid .labels li,
.products-list .labels li,
.products-sidebar-big-thumbnails .labels li
{
  margin-bottom: 10px;
}

.products-grid .labels {
  right: 10px;
  top: 23px;
}

.products-list .labels {
  right: 0px;
  top: 2px;
}

.products-table .labels {
  white-space: nowrap;
}

.products-sidebar-big-thumbnails .labels {
  right: 0px;
  top: 2px;
}

.products-table .labels li {
  display: inline-block;
  white-space: nowrap;
  margin-left: 10px;
}

.products-sidebar-small-thumbnails .labels {
  display: inline;
  position: static;
}

.products-sidebar-small-thumbnails .labels li div {
  display: inline;
}

.show-more-link {
  margin-top: 14px;
}

.items-list .products-grid .add-to-cart-button {
  position: absolute;
  right: 9px;
  bottom: 7px;
  text-align: right;
}

.items-list .products-grid .add-to-cart-button .out-of-stock{
	display: none;
}

.items-list .products-list .product-info .add-to-cart-button {
  margin-top: 20px;
}

.products-grid .product-cell .product {
  padding-bottom: 29px;
}
