{* vim: set ts=2 sw=2 sts=2 et: *}

{**
 * ____file_title____
 *
 * @author    Qualiteam software Ltd <info@x-cart.com>
 * @copyright Copyright (c) 2011-2014 Qualiteam software Ltd <info@x-cart.com>. All rights reserved
 * @license   http://www.x-cart.com/license-agreement.html X-Cart 5 License Agreement
 * @link      http://www.x-cart.com/
 *}

<div IF="hasShippingMarkups()">

<script type="text/javascript">

checkboxes_form = 'shippingratesform';
checkboxes = new Array(
{foreach:getShippingMarkups(),k,markup}{if:!k=0},{end:}'sm_{markup.zone.getZoneId()}_{markup.shipping_method.getMethodId()}','to_delete[{markup.getMarkupId()}]'{end:}
);
var lbl_no_items_have_been_selected = '{t(#There are no markups selected#)}';

function submitForm(formName, action)
{
  document.forms[formName].elements['action'].value = action;
  document.forms[formName].submit();
}

</script>

<br /><br />

<table cellpadding="0" cellspacing="0" width="100%">
<tr>
  <td><div style="line-height:170%"><b><a href="javascript:change_all(true);">{t(#Check all#)}</a> / <a href="javascript:change_all(false);">{t(#Uncheck all#)}</a></b></div></td>
  <td align="right"><a href="#addmarkup"}><b>{t(#Add markup#)}</b></a></td>
</tr>
</table>

<form action="{buildURL()}" method="post" name="shippingratesform">

  <input type="hidden" name="target" value="shipping_rates" />
  <input type="hidden" name="action" value="update" />
  <input type="hidden" name="zone_id" value="{zone_id}" />
  <input type="hidden" name="methodid" value="{methodid}" />
  <input type="hidden" name="deleted_markup" />

  <widget class="\XLite\View\FormField\Input\FormId" />

  <table class="data-table">
  {foreach:getPreparedShippingMarkups(),zid,zn}
    <tr>
      <td>
        <h3>{zn.zone.getZoneName()}</h3>
      </td>
    </tr>
    <tbody FOREACH="zn.methods,sid,method">
      <tr>
        <td>
          <table cellpadding="2" cellspacing="0" width="100%">
            <script type="text/javascript">
              checkboxes{zn.zone.getZoneId()}_{method.method.getMethodId()} = new Array({foreach:method.markups,k,markup}{if:!k=0},{end:}'to_delete[{markup.getMarkupId()}]'{end:});
            </script>
            <tr>
              <th><input type="checkbox" id="sm_{zn.zone.getZoneId()}_{method.method.getMethodId()}" name="sm_{zn.zone.getZoneId()}_{method.method.getMethodId()}" onclick="javascript:change_all(this.checked, checkboxes_form, checkboxes{zn.zone.getZoneId()}_{method.method.getMethodId()});" /></th>
              <th style="width:100%;"><label for="sm_{zn.zone.getZoneId()}_{method.method.getMethodId()}">{method.method.getName()}</label></th>
            </tr>
          </table>
        </td>
      </tr>

      <tr>
        <td>
          <table cellpadding="0" cellspacing="3" width="100%">
            <tbody FOREACH="method.markups,mid,markup">
              <tr>
                <td rowspan="3" class="table-label"><img src="images/spacer.gif" width="10" height="1" alt="" /><input type="checkbox" name="to_delete[{markup.getMarkupId()}]" /></td>
                <td>{t(#Weight range#)} ({getWeightSymbol()}):</td>
                <td class="table-label">
                  <input type="text" name="posted_data[{markup.getMarkupId()}][min_weight]" size="9" value="{markup.getMinWeight()}" />
                  -
                  <input type="text" name="posted_data[{markup.getMarkupId()}][max_weight]" size="9" value="{markup.getMaxWeight()}" />
                </td>
                <td>{t(#Flat markup#)} ({xlite.currency.getSymbol()}):</td>
                <td class="table-label"><input type="text" name="posted_data[{markup.getMarkupId()}][markup_flat]" size="5" value="{markup.getMarkupFlat()}" /></td>
                <td>{t(#Percent markup#)} (%):</td>
                <td><input type="text" name="posted_data[{markup.getMarkupId()}][markup_percent]" size="5" value="{markup.getMarkupPercent()}" /></td>
              </tr>

              <tr>
                <td>{t(#Subtotal range#)} ({xlite.currency.getSymbol()}):</td>
                <td class="table-label">
                  <input type="text" name="posted_data[{markup.getMarkupId()}][min_total]" size="9" value="{markup.getMinTotal()}" />
                  -
                  <input type="text" name="posted_data[{markup.getMarkupId()}][max_total]" size="9" value="{markup.getMaxTotal()}" />
                </td>
                <td>{t(#Per item markup#)} ({xlite.currency.getSymbol()}):</td>
                <td class="table-label"><input type="text" name="posted_data[{markup.getMarkupId()}][markup_per_item]" size="5" value="{markup.getMarkupPerItem()}" /></td>
                <td>{t(#Per weight unit markup#)}({xlite.currency.getSymbol()}):</td>
                <td class="table-label"><input type="text" name="posted_data[{markup.getMarkupId()}][markup_per_weight]" size="5" value="{markup.getMarkupPerWeight()}" /></td>
              </tr>

              <tr>
                <td>{t(#Items range#)}:</td>
                <td class="table-label">
                  <input type="text" name="posted_data[{markup.getMarkupId()}][min_items]" size="9" value="{markup.getMinItems()}" />
                  -
                  <input type="text" name="posted_data[{markup.getMarkupId()}][max_items]" size="9" value="{markup.getMaxItems()}" />
                </td>
                <td colspan="4">&nbsp;</td>
              </tr>
              <tr IF="isShowMarkupsSeparator(mid,method.markups)">
                <td colspan="7" class="separator">&nbsp;</td>
              </tr>
            </tbody>  {* FOREACH="methods.markups,markup" *}
          </table>
        </td>
      </tr>

    </tbody> {* FOREACH="zn.methods,method" *}

    {end:}  {* foreach:getPreparedShippingMarkups(),zn *}

    <tr>
      <td>
        <widget class="\XLite\View\Button\Regular" label="{t(#Delete selected#)}" jsCode="if (checkMarks(this.form, new RegExp('to_delete\\[[0-9]+\\]', 'gi'))) submitForm('shippingratesform', 'delete');" />
        &nbsp;&nbsp;&nbsp;&nbsp;
        <widget class="\XLite\View\Button\Submit" label="{t(#Update#)}" />
      </td>
    </tr>
  </table>
</form>
</div>

<br /><br /><br />

<form name="addshippingrate" action="{buildURL()}" method="post" IF="getShippingMethods()">

  <input type="hidden" name="target" value="shipping_rates" />
  <input type="hidden" name="action" value="add" />
  <input type="hidden" name="zone_id" value="{zone_id}" />
  <input type="hidden" name="methodid" value="{methodid}" />
  <widget class="\XLite\View\FormField\Input\FormId" />

  <a name="addmarkup"></a>
  <div class="admin-title">{t(#Add markup#)}</div>
  <br /><br />
  <table class="data-table">

    <tr>
      <td>{t(#Shipping method#)}:</td>
      <td>
        <select name="new[method_id]">
          <option value="">{t(#Please select one#)}</option>
          <option FOREACH="getShippingMethods(),m" value="{m.getMethodId()}" selected="{isSelected(m,#method_id#,methodid)}">{m.getName()}</option>
        </select>
      </td>
      <td colspan="4">&nbsp;</td>
    </tr>

    <tr>
      <td>{t(#Destination zone#)}:</td>
      <td>
        <select name="new[zone_id]">
          <option FOREACH="getShippingZones(),zn" value="{zn.getZoneId()}" selected="{isSelected(zn,#zone_id#,zone_id)}">{zn.getZoneName()}</option>
        </select>
      </td>
      <td colspan="4">&nbsp;</td>
    </tr>

    <tr>
      <td>{t(#Weight range#)} ({getWeightSymbol}):</td>
      <td class="table-label">
        <input type="text" name="new[min_weight]" size="9" value="0.00" />
        -
        <input type="text" name="new[max_weight]" size="9" value="999999.00" />
      </td>
      <td>{t(#Flat markup#)} ({xlite.currency.getSymbol()}):</td>
      <td class="table-label"><input type="text" name="new[markup_flat]" size="5" value="0.00" /></td>
      <td>{t(#Percent markup#)} (%):</td>
      <td><input type="text" name="new[markup_percent]" size="5" value="0.00" /></td>
    </tr>

    <tr>
      <td>{t(#Subtotal range#)} ({xlite.currency.getSymbol()}):</td>
      <td class="table-label">
        <input type="text" name="new[min_total]" size="9" value="0.00" />
        -
        <input type="text" name="new[max_total]" size="9" value="999999.00" />
      </td>
      <td>{t(#Markup per item#)} ({xlite.currency.getSymbol()}):</td>
      <td class="table-label"><input type="text" name="new[markup_per_item]" size="5" value="0.00" /></td>
      <td>{t(#Markup per weight unit#)} ({xlite.currency.getSymbol()}):</td>
      <td class="table-label"><input type="text" name="new[markup_per_weight]" size="5" value="0.00" /></td>
    </tr>

    <tr>
      <td>{t(#Items range#)}:</td>
      <td class="table-label">
        <input type="text" name="new[min_items]" size="9" value="0" />
        -
        <input type="text" name="new[max_items]" size="9" value="999999" />
      </td>
      <td colspan="4">&nbsp;</td>
    </tr>

  </table>

  <br />
  <widget class="\XLite\View\Button\Submit" label="{t(#Add#)}" />

</form>
