/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Menu styles
 *
 * @author    Qualiteam software Ltd <info@x-cart.com>
 * @copyright Copyright (c) 2011-2014 Qualiteam software Ltd <info@x-cart.com>. All rights reserved
 * @license   http://www.x-cart.com/license-agreement.html X-Cart 5 License Agreement
 * @link      http://www.x-cart.com/
 */

.side-menu {
  background: #eff8fe none;
  padding: 0px;
  margin: 0px 0px 25px 0px;
}

.side-menu h2 {
  border-bottom: 1px solid #dee6ec;
  padding: 23px 24px 17px;
  margin: 0px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  color: #90a7b6;
  text-align: center;
}

.side-menu .content {
  padding: 0px;
}

.side-menu .content ul {
  margin: 0px;
  padding: 2px 0px 0px 0px;
}

.side-menu .content li a {
  display: block;
  font-size: 16px;
  padding: 10px 20px 11px;
  margin: 0px;
  width: 180px;
  text-decoration: none;
}

.side-menu .content li a:hover {
  background: #d0e9ff;
}

.side-menu .content li.selected a,
.side-menu .content li.selected a:hover
{
  background-color: #7db2d9;
}

.side-menu .content li.selected a {
  color: #fff;
}

body #main {
  margin-left: 240px;
  min-width: 705px;
}

body #leftSideBar {
  display: block;
}
