{* vim: set ts=2 sw=2 sts=2 et: *}

{**
 * ____file_title____
 *
 * @author    Qualiteam software Ltd <info@x-cart.com>
 * @copyright Copyright (c) 2011-2014 Qualiteam software Ltd <info@x-cart.com>. All rights reserved
 * @license   http://www.x-cart.com/license-agreement.html X-Cart 5 License Agreement
 * @link      http://www.x-cart.com/
 *}

<div class="no-payment-methods-appearance">
  <div class="box">
    <div class="no-payments-found">{t(#No payment methods found for search#,_ARRAY_(#search#^getParam(#substring#))):h}</div>
    <a class="no-payments-marketplace-link" href="{buildURL(#addons_list_marketplace#,##,_ARRAY_(#tag#^#Payment processing#,#substring#^getParam(#substring#)))}">{t(#Find in Marketplace#)}</a>
  </div>
</div>
