{* vim: set ts=2 sw=2 sts=2 et: *}

{**
 * Location template
 *
 * @author    Qualiteam software Ltd <info@x-cart.com>
 * @copyright Copyright (c) 2011-2014 Qualiteam software Ltd <info@x-cart.com>. All rights reserved
 * @license   http://www.x-cart.com/license-agreement.html X-Cart 5 License Agreement
 * @link      http://www.x-cart.com/
 *}

<span IF="target=#ems#">&nbsp;::&nbsp;{t(#Shipping settings#)}&nbsp;::&nbsp;<a href="{buildURL(#ems#)}" class="navigation-path">{t(#EMS Settings#)}</a></span>

