{* vim: set ts=2 sw=2 sts=2 et: *}

{**
 * Main template
 *
 * @author    Qualiteam software Ltd <info@x-cart.com>
 * @copyright Copyright (c) 2011-2014 Qualiteam software Ltd <info@x-cart.com>. All rights reserved
 * @license   http://www.x-cart.com/license-agreement.html X-Cart 5 License Agreement
 * @link      http://www.x-cart.com/
 *}

{t(#EMS module allows to use online shipping rates calculation via EMS.#):h}
<br />
{t(#Please note that rates are calculated for shipping from Russian locations only.#)}

<br /><br />

<widget template="modules/XC/EMS/config.tpl" />

<br /><br /><br />

<widget template="modules/XC/EMS/test.tpl" />

