/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * CSS classes for Saved credit cards page
 *
 * @author    Qualiteam software Ltd <info@x-cart.com>
 * @copyright Copyright (c) 2011-2014 Qualiteam software Ltd <info@x-cart.com>. All rights reserved
 * @license   http://www.x-cart.com/license-agreement.html X-Cart 5 License Agreement
 * @link      http://www.x-cart.com/
 */

/**
 * XPC Transactions block
 */
.xpc-transactions {
  padding-top: 20px;
  padding-bottom: 10px;
}

/* Credit card */

td.cell.card {
  padding-top: 12px !important;
}

div.cell div.card-icon-container {
  float: left;
  height: 53px;
  width: 105px;
  overflow: hidden;
}

div.cell div.card-icon-container img {
  float: left;
}  

div.cell span.card {
  display: inline-block;
  width: 140px;
  height: 70px;
  zoom: 0.75;
  -moz-transform: scale(0.75);
  -moz-transform-origin: 0 0 0;
}

div.cell div.number {
  line-height: 53px !important;
  font-size: 20px !important;
}

td.cell.card {
    vertical-align: top !important;
}

td.cell.card.mc div.cell span.card {
  background: url(transactions/card_types.png) 0px 0px no-repeat;
}

td.cell.card.visa div.cell span.card {
  background: url(transactions/card_types.png) 0px -71px no-repeat;
}

td.cell.card.jcb div.cell span.card {
  background: url(transactions/card_types.png) 0px -141px no-repeat;
}

td.cell.card.amex div.cell span.card {
  background: url(transactions/card_types.png) 0px -211px no-repeat;
}

td.cell.card.dc div.cell span.card {
  background: url(transactions/card_types.png) 0px -281px no-repeat;
}

td.cell.card.dicl div.cell span.card {
  background: url(transactions/card_types.png) 0px -351px no-repeat;
}

td.cell.card.sw div.cell span.card {
  background: url(transactions/card_types.png) 0px -421px no-repeat;
}

td.cell.card.cup div.cell span.card {
  background: url(transactions/card_types.png) 0px -491px no-repeat;
}

td.cell.card.bc div.cell span.card {
  background: url(transactions/card_types.png) 0px -561px  no-repeat;
}

/* XPC Transaction link block */

div.xpc-link {
  min-width: 200px;
}

div.xpc-link a.dotted {
  text-decoration: none !important;
  border-bottom: 1px dotted;
}

/**
 * Payment actions
 */
div.xpc-actions {
  margin-top: 5px;  
}

div.payment-action-unit input.amount-field {
  width: 100px;
  float: left;
  margin-right: 5px;
}

div.payment-actions div.unit {
  display: block;
  padding-left: 0px !important;
}

div.payment-actions div.unit button.with-input {
  width: 76px;
}

div.payment-actions {
  margin-bottom: 15px;
}

div.payment-action-unit-border {
  width: 180px;
  height: 7px;
}

/**
 * Kount results
 */
div.kount-result {
  padding: 0 10px;
}

div.kount-result h2,
div.kount-result p.lead {
  margin-left: -10px;
}

div.kount-result p:not(.lead) {
  font-size: 14px;
}

div.kount-result p.lead {
  background-color: #fcf8e4;
  display: inline-block;
  padding: 3px 10px;
}

div.kount-result span.danger {
  color: #d9534f;
  padding-left: 22px;
}

div.kount-result span.success {
  color: #5cb85c;
  padding-left: 22px;
}

div.kount-result span.warning {
  color: #f0ad4e;
  padding-left: 22px;
}

ul.kount-result-lines {
  padding-left: 26px;
}

ul.kount-result-lines li {
  list-style: initial;
  font-size: 14px;
}

div.alert {
  font-size: 14px;
}

.fraud-status-Fraud .cell ,
.fraud-status-Clean .cell ,
.fraud-status-Review .cell ,
.fraud-status-Fraud .cell  a,
.fraud-status-Clean .cell  a,
.fraud-status-Review .cell  a {
  display: block;
  height: 24px;
  width: 24px;
}

.fraud-status-Fraud .cell  a,
.fraud-status-Clean .cell  a,
.fraud-status-Review .cell  a {
  background-repeat: no-repeat;
  background-position: center right;
}

.fraud-status-Fraud .cell  a {
  background: url(fraud.svg);
  background-size: 24px 24px;
}

.fraud-status-Clean .cell  a {
  background: url(clean.svg);
  background-size: 24px 24px;
}

.fraud-status-Review .cell  a {
  background: url(review.svg);
  background-size: 24px 24px;
}

