<table class="product-photo-box" IF="isViewListVisible(#product.details.page.image.photo#)">
  <tr>
    <td FOREACH="getViewList(#product.details.page.image.photo#),item">{item.display()}</td>
  </tr>
</table>

