.lamarant .checkout-block .steps .step.shipping-step {
    width: 55%;
}

.lamarant .checkout-block .steps .step h2 {
    padding: 5px 0 5px 10px;
    color: white;
    font-size: 20px;
    background: #b52e5a;
    margin: 0;
}

.lamarant .checkout-block form.place .notes textarea {
    height: 120px;
}

.lamarant .address-book {
    display: none;
}

.lamarant .checkout-block .shipping-step .step-box {
    border: 0;
    padding: 0;
}

.lamarant .checkout-block .review-step .step-box .box {
    margin-left: 0;
}


.lamarant .checkout-block .steps .step.review-step {
    width: 45%;
}

.lamarant .checkout-block .steps h2 span.text {
    background: #b52e5a;
}

.lamarant .checkout-block .steps .subsection.shipping-section {
    width: 100%;
}

.lamarant .checkout-block .steps .subsection.payment-section {
    display: none;
}

