
.footer {
}

.footer__top {
}

.footer__top a {
    margin: 15px auto;
    display: table;
}

.footer__middle {
    padding-top: 5px;
    min-height: 80px;

    background: rgba(223,17,85,1);
    background: -moz-linear-gradient(top, rgba(223,17,85,1) 0%, rgba(166,7,52,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(223,17,85,1)), color-stop(100%, rgba(166,7,52,1)));
    background: -webkit-linear-gradient(top, rgba(223,17,85,1) 0%, rgba(166,7,52,1) 100%);
    background: -o-linear-gradient(top, rgba(223,17,85,1) 0%, rgba(166,7,52,1) 100%);
    background: -ms-linear-gradient(top, rgba(223,17,85,1) 0%, rgba(166,7,52,1) 100%);
    background: linear-gradient(to bottom, rgba(223,17,85,1) 0%, rgba(166,7,52,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df1155', endColorstr='#a60734', GradientType=0 );
    -webkit-box-shadow: 0px 4px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 4px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 4px 5px 0px rgba(50, 50, 50, 0.75);
    margin-bottom: 10px;
}

.footer__middle .left-call-text {
    margin-top: 15px;
    color: white;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Verdana;
    text-decoration: none;
}

.footer__middle .right-call-text {
    color: white;
    font-size: 20px;
    text-align: right;
}

.footer__middle .middle,
.footer__middle .middle a {
    color: #fff;
}

.footer__middle .middle .glyphicon {
    font-size: 30px;
    margin-top: 15px;
}

.footer__middle .middle {
    text-align: center;
}
.footer__middle .middle .left {
    text-align: right;
}
.footer__middle .middle .phone small {
    font-size: 14px;
}
.footer__middle .middle .phone a {
    font-size: 20px;
    font-weight: bold;
}

.footer__middle .right {
    margin-top: 3px;
}
.footer__middle .right .col-xs-5 {
    width: 37%;
}
.footer__middle .right .col-xs-6 {
    padding-left: 5px;
}
.footer__middle .vk-button {
    display: block;
    width: 221px;
    height: 64px;
    background: url(../images/vk_button.png);
}

.footer__bottom {
}

.footer__bottom ul {
    display: table;
    margin: 0 auto;
}

.footer__bottom li {
    margin-top: 0;
    padding-top: 4px;
    padding-bottom: 4px;
}

.footer__bottom li.active {
    background: none;
}

.footer__bottom .nav a {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 14px;
    font-family: Verdana;
    text-decoration: none;
    color: #424241;
}

.footer__bottom li a:hover {
    font-size: 16px;
    color: #b52e5a;
    background: none;
}

.footer__bottom li.active a:hover {
    background: none;
    text-decoration: underline;
    color: #b52e5a;
}

.footer__bottom li.active a {
    background: none;
    color: #b52e5a;
}
