.bottom-shadow {
}

.header {
    height: 375px;
    background: white;
}

.header-nav {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.header-nav .bg{
    content: “”;
    opacity: 0.9;

    background: url(../images/gradient.png) repeat-x;

    top: 0;
    left: 0;
    bottom: -8px;
    right: 0;
    position: absolute;
}

.header .logo {
    margin-top: 5px;
}

.header .top-main-menu {
    positon: fixed;
    top: 0;
    text-transform: uppercase;
}

.header .top-main-menu li {
    margin-top: 0;
    padding-top: 5px;
}

.header .top-main-menu li.active {
    border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    border: 0px solid #000000;
    background: rgba(223,17,85,1);
    background: -moz-linear-gradient(top, rgba(223,17,85,1) 0%, rgba(166,7,52,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(223,17,85,1)), color-stop(100%, rgba(166,7,52,1)));
    background: -webkit-linear-gradient(top, rgba(223,17,85,1) 0%, rgba(166,7,52,1) 100%);
    background: -o-linear-gradient(top, rgba(223,17,85,1) 0%, rgba(166,7,52,1) 100%);
    background: -ms-linear-gradient(top, rgba(223,17,85,1) 0%, rgba(166,7,52,1) 100%);
    background: linear-gradient(to bottom, rgba(223,17,85,1) 0%, rgba(166,7,52,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df1155', endColorstr='#a60734', GradientType=0 );
    padding-bottom: 6px;
}
.header .top-main-menu li.active a {
    background: none;
    color: white;
}
.header .top-main-menu li.active a:hover {
    background: none;
    color: white;
    text-decoration: underline;
}

.header .top-main-menu li a {
    font-size: 14px;
    font-family: Verdana;
    text-decoration: none;
    color: #424241;
    padding: 8px;
}

.header .top-main-menu li a:hover {
    font-size: 14px;
    color: #b52e5a;
    background: none;
}

.header-slider {
    width: 100%;
    overflow: hidden;
    height: 375px;
}
.header-slider-inner.flexslider {
    width: 1040px;
    box-shadow: none;
    border: 0;
    margin: -8px auto 0 auto;
}

.flexslider:hover .flex-prev {
    left: -20px;
}

.flexslider:hover .flex-next {
    right: -20px;
}

.header-slider-inner.flexslider .slides > li {
    margin: 0;
}

.flex-control-nav {
    bottom: 10px;
    z-index: 20;
    display: none;
}
.flex-direction-nav a {
    height: 50px;
}
.header-slider-inner img {
    height: 375px;
}

.header .header-fake {
    background: url(../images/header_fake.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 940px;
    height: 359px;
    margin: 0 auto;
}

