body {
    background: #fff;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

h1, h2, h3, h4, h5, a, a:hover {
    color: #b52e5a;
}

.lamarant .container {
    max-width: none !important;
    width: 1010px;
}

.lamarant a {
    text-decoration: none;
}

.lamarant a:hover {
    text-decoration: underline;
}


/***** breadcrumbs *****/
.lamarant .breadcrumb {
    margin-bottom: 5px;
}
.lamarant ul.breadcrumb li.location-node.expandable {
    background: none;
    padding-right: 0;
}

.lamarant .breadcrumb > li + li:before {
    content: "\00BB";
}

.lamarant ul.breadcrumb li.location-node a {
    font-size: 12px;
    color: #424241;
    text-decoration: none;
}

.lamarant ul.breadcrumb li.location-node a:hover {
    text-decoration: underline;
}
/******* end breadcrumbs ********/


/***** modal *******/

.modal-dialog {
    margin-top: 100px;
}
/***** end modal *******/

/**** buttons ****/
.lamarant .regular-button.regular-main-button {
    background: rgba(223,17,85,1);
    background: -moz-linear-gradient(top, rgba(223,17,85,1) 0%, rgba(166,7,52,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(223,17,85,1)), color-stop(100%, rgba(166,7,52,1)));
    background: -webkit-linear-gradient(top, rgba(223,17,85,1) 0%, rgba(166,7,52,1) 100%);
    background: -o-linear-gradient(top, rgba(223,17,85,1) 0%, rgba(166,7,52,1) 100%);
    background: -ms-linear-gradient(top, rgba(223,17,85,1) 0%, rgba(166,7,52,1) 100%);
    background: linear-gradient(to bottom, rgba(223,17,85,1) 0%, rgba(166,7,52,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df1155', endColorstr='#a60734', GradientType=0 );
}
.lamarant .regular-button.regular-main-button:hover {
background: #dd3e70; /* Old browsers */
background: -moz-linear-gradient(top, #dd3e70 41%, #a60734 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(41%,#dd3e70), color-stop(99%,#a60734)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #dd3e70 41%,#a60734 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #dd3e70 41%,#a60734 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #dd3e70 41%,#a60734 99%); /* IE10+ */
background: linear-gradient(to bottom, #dd3e70 41%,#a60734 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd3e70', endColorstr='#a60734',GradientType=0 ); /* IE6-9 */
}

.lamarant .regular-button {
    color: white;
    background-image: -webkit-linear-gradient(#88c149, #73a839 60%, #699934);
    background-image: -o-linear-gradient(#88c149, #73a839 60%, #699934);
    background-image: linear-gradient(#88c149, #73a839 60%, #699934);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff88c149', endColorstr='#ff699934', GradientType=0);
    filter: none;
    border: 0;
    border-bottom: 1px solid #59822c;
}
/**** end buttons ****/




.lamarant .center-main > .container {
    width: 1040px;
}

/******* front page ************/
.front-page-category {
    cursor: pointer;
    display:block;
}
.front-page-category:hover {
    opacity: 0.6;
}
/******* end front page ************/


.nopadding-right {
    padding-right: 0;
}

.nopadding-left {
    padding-left: 0;
}

.nopadding {
    padding: 0;
}

.modal-content {
    border-radius: 0;
}


/******* site_reviews ********/
.site-reviews-list {}

.site-reviews-list .media { border: 1px solid #cb446d; border-radius: 10px; padding: 10px; margin-bottom: 10px; }
.site-reviews-list p, .site-reviews-list time { color: #6F6565; }
/******* end site_reviews ****/

a:focus { outline: none; }


/*** cart ****/

.lamarant #shopping-cart td.item-info p {
 width: 125px;
 text-indent: 0;
 text-align: left;
}

.lamarant .top-continue {
    display: none;
}

.lamarant #shopping-cart .sums {
    padding-top: 6px;
}

.lamarant #shopping-cart td.item-qty input {
    padding: 4px 6px;
    width: 40px;
}

.lamarant span.wheel-mark {
    display: none;
}




/*** end cart ****/


/**** shipping page ****/
.shipping-ul li {
    height: 36px;
    line-height: 40px;
}
.shipping-ul li.shipping-time {
    line-height: 16px;
}
.shipping-icon {
    background: url(../images/shipping_icons.png);
    width: 35px;
    height: 35px;
    display: inline-block;
    float: left;
}
.shipping-icon.door { background-position: 0 0; }
.shipping-icon.work-time { background-position: 35px 0; }
.shipping-icon.shipping-time { background-position: 65px; }
.shipping-icon.payment { background-position: 96px 0; }

/**** end shipping page ****/


body .modal-backdrop.in { z-index: 999998; }
body .modal { z-index: 999999; }

.media-left, .media-right, .media-body {
    display: table-cell;
    vertical-align: top;
}

.media-left img {
    margin-right: 20px;
}
