.main-menu {
    margin-bottom: 8px;
    background: white;
    border-top: 1px solid #ccc;
    /* -webkit-box-shadow: inset 0px 5px 10px 1px rgba(0,0,0,0.27); */
    /* -moz-box-shadow: inset 0px 5px 10px 1px rgba(0,0,0,0.27); */
    /* box-shadow: inset 0px 5px 10px 1px rgba(0,0,0,0.27); */
    z-index: 10000;
}

.main-menu__top {
    border-bottom: 1px solid #ccc;
}

.main-menu__top .logo {
    display: block;
    padding: 17px 0 18px;
}

.main-menu__top .logo img {
    /* height: 28px; */
}

.main-menu__top .cart {
    margin-left: -10px;
    text-transform: uppercase;
    font-size: 18px;
    color: #b52e5a;
    text-decoration: none;
    display: block;
    padding: 21px 0 10px;
}

.main-menu__top .cart .icon {
    margin-top: -8px;
    background-position: -15px -200px;
    display: block;
    float: left;
    width: 52px;
    height: 38px;
    background-image: url(../images/sprite.png);
}

.main-menu__top .cart:hover {
    text-decoration: underline;
}

.main-menu .lc-minicart {
    background: none;
    text-align: left;
}

.main-menu .lc-minicart:hover {
    background: none;
}

.main-menu .lc-minicart .minicart-items-number-text {
    font-size: 18px;
    color: #b52e5a;
    margin: 0;
}

.main-menu__top .container > div:first-child {
    padding-left: 0;
}


.main-menu__top .nav-item {
    border-right: 1px solid #ccc;
    height: 100%;
    padding: 0;
}
.main-menu__top .nav-item.first {
    border-left: 1px solid #ccc;
}

.main-menu__top .nav-item.first .icon {
    margin-left: 55px;
}

.main-menu__top .nav-item a {
    display: block;
    width: 195px;
    height: 57px;
    cursor: pointer;
}

.main-menu .nav-item .icon {
    display: block;
    margin-left: 15px;
}

.main-menu .nav-item:hover .triangle,
.main-menu .nav-item.active-trail .triangle {
    float: left;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: #e64e93 transparent transparent transparent;
}

.main-menu .nav-item.category-id-9 .icon {
    margin-top: 3px;
    width: 117px;
    height: 58px;
    background-image: url(../images/uggi_menu_logo.png);
}

.main-menu .nav-item.category-id-11 .icon {
    margin-top: 3px;
    width: 195px;
    height: 57px;
    background-image: url(../images/isabel_marant_menu_logo.png);
}

.main-menu .nav {
    display: table;
    margin: 0 auto;
}

.main-menu .nav li {
    margin-top: 0;
    margin-left: 0;
    background: none;
    border-right: 1px solid #ccc;
    height: 100%;
    text-transform: uppercase;
}

/* .main-menu .nav li.active-trail { */
/*     background: #cb446d; */
/* } */

/* .main-menu .nav li a { */
/*     padding: 8px 25px; */
/*     text-decoration: none; */
/*     color: gray; */
/* } */
/* .main-menu .active-trail a { */
/*     color: white; */
/* } */

.main-menu  a:hover {
    background: none;
    color: #b52e5a;
}

.main-menu .active-trail a:hover {
    color: white;
    text-decoration: underline;
}

.main-menu .main-menu__top .active-trail {
    background: none;
}

.main-menu .nav li.category-id-10 .icon {
    background: none;
    width: 0;
}

.main-menu .nav li.category-id-11 .icon {
    margin-top: 3px;
    width: 195px;
    height: 57px;
    background-image: url(../images/isabel_marant_menu_logo.png);
}


.main-menu__bottom {
    display: none;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 4px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 4px 5px 0px rgba(50, 50, 50, 0.75);
    background: #cb446d;
}

.main-menu .main-menu__bottom li {
    margin-left: 15px;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
}

.main-menu__bottom > div > ul li.active-trail a:hover {
    color: #cb446d;
    text-decoration: underline;
}
.main-menu__bottom > div > ul li.active-trail a:hover { background: white; }
.main-menu__bottom > div > ul li.active-trail a { background: white; border-radius: 0; color: #cb446d; }
.main-menu__bottom > div > ul li a:hover  { text-decoration: underline; background: none; color: white;  }
.main-menu__bottom > div > ul li:first-child { border: 0; }
.main-menu__bottom > div > ul > li a { color: #FFF; line-height: 26px; text-decoration: none; text-transform: uppercase; font-size: 12px; }
.main-menu__bottom > div > ul > li > a { display: block; padding: 0px 25px; }
.main-menu__bottom > div > ul > li.active-trail { background: #cc3300; }
.main-menu__bottom > div > ul > li > div { display: none; }
.main-menu__bottom > div > ul > li:hover > div { display: inline-block; z-index: 10000; position: absolute; left: -35px; background-color: white; border: 2px solid #cb446d; border-top: 0; }
.main-menu__bottom > div > ul > li:hover ul { left: 0; width: 900px; padding: 5px 0px 0px 0px; }
.main-menu__bottom > div > ul > li:hover ul > li { width: 280px; float: left; margin-right: 0px; }
.main-menu__bottom > div > ul > li:hover ul > li a { color: black; }
.main-menu__bottom > div > ul > li:hover ul > li.active-trail a { background: none; font-weight: bold; }
.main-menu__bottom > div > ul > li.active-trail:hover ul > li a:hover { text-decoration: none; }
.main-menu__bottom  li.separator { padding: 0; margin: 0; width: 1px; height: 16px; margin-top: 17px; border: none; }
.VMmenu { position: relative; }
.VMmenu > li { position: initial; }
.VMmenu > li, .menu { margin: 30px 0 0; }
/* ul.VMmenu ul li { list-style-type: none; border-bottom: 1px solid #E3E3E3; } */
.VMmenu .menu li:last-child { border-bottom-width: 0; }
.VMmenu li p { font-weight: normal; font-size: 11px; margin-top: -10px; padding-bottom: 10px; color: #929292; text-transform: none; text-indent: 0; }
.menu { margin: 0; padding: 0; }
.VMmenu > li .menu > li > div { position: relative; padding-left: 58px; text-align: left; }
.VMmenu > li .menu > li > div > a, .VMmenu > li .menu > li > div > p  { }
.VMmenu > li .menu > li > div img  { position: absolute; left: 10px; top: 10px; max-width: 35px; }

