.lamarant .products .product,
.lamarant .products table.product td
{
  padding: 0;
  border: 0;
}

.lamarant ul.products-grid.grid-list li.product-cell {
    margin-top: 0;
    margin-bottom: 10px;
}
.lamarant .products-grid .product-cell .product {
    padding-bottom: 6px;
}
.lamarant .product:hover {
    border: none;
    opacity: 0.6;
}

.lamarant .categories-grid .product:hover {
}

.lamarant .category-products {
    margin-bottom: 5px;
}

.lamarant .products-grid .product .drag-n-drop-handle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.lamarant .product.product-added .added-to-cart {
    color: #b52e5a;
}

.lamarant .products-grid div.product-photo {
    padding: 0;
    margin-bottom: 10px;
}

.lamarant .products-grid div.product-photo a.product-thumbnail {
    vertical-align: top;
}

.lamarant .products-grid div.product-photo > img,
.lamarant .products-grid div.product-photo a > img {
    width: 220px;
    height: 220px;
}

.lamarant .categories-grid div.product-photo > img,
.lamarant .categories-grid div.product-photo a > img {
    width: 220px;
    height: 244px;
}

.lamarant .products-grid .product-name {
    min-height: 18px;
}
.lamarant .products-grid .product-name a {
    text-transform: uppercase;
    font-size: 11px;
    color: #1D1D1D;
    font-weight: bold;
    text-align: center;
}

.lamarant .products-grid .product-price {
    text-align: center;
}
.lamarant .products-grid .price {
    padding-top: 0;
    color: #b52e5a;
    font-weight: bold;
}
.lamarant .products-grid .price.old-price {
    line-height: 28px;
    font-size: 14px;
    font-weight: normal;
    color: #838383;
    text-decoration: line-through;
}


.lamarant .badges-list {
    position: absolute;
    right: 0;
    top: 0;
}
.lamarant .badges-list li {
    float: right;
    background-color: transparent;
    display: inline-block;
}
.lamarant .badges-list .product-badge {
    width: 47px;
    height: 47px;
    display: block;
    background-image: url(../images/sprite.png);
}

.lamarant .badges-list .product-badge.m20 { background-position: -18px -17px; }
.lamarant .badges-list .product-badge.m30 { background-position: -78px -17px; }
.lamarant .badges-list .product-badge.m40 { background-position: -136px -17px; }
.lamarant .badges-list .product-badge.m50 { background-position: -195px -17px; }
.lamarant .badges-list .product-badge.m60 { background-position: -254px -17px; }
.lamarant .badges-list .product-badge.spring { background-position: -309px -17px; }

.lamarant .badges-list .product-badge.hit { background-position: -18px -75px; }
.lamarant .badges-list .product-badge.new2015 { background-position: -78px -75px; }
.lamarant .badges-list .product-badge.promote { background-position: -135px -75px; }
.lamarant .badges-list .product-badge.present { background-position: -194px -75px; }
.lamarant .badges-list .product-badge.winter { background-position: -254px -75px; }
.lamarant .badges-list .product-badge.autumn { background-position: -309px -75px; }

.lamarant .badges-list .product-badge.summer { background-position: -254px -132px; }
.lamarant .badges-list .product-badge.look { background-position: 105px -132px; }

.lamarant .badges-list .product-badge.style { background-position: -254px -186px; }

