
@media (min-width: 768px) {
    .lamarant div.product-details .product-details-info {
        float: left;
        width: 46.33333333%;
    }
}
/**** gallery ****/
.lamarant .product-image-gallery ul {
    margin-top: 5px;
    background: none;
}

.lamarant .product-details .loupe {
    display: none;
}

/**** end gallery ****/

.lamarant .product-image-gallery li {
    padding: 5px;
    width: 100px;
    height: 88px;
    border: 1px solid #ccc;
}

.lamarant .product-details .image {
    padding: 0;
}
.product-details .product-photo {
    border: 1px solid #ccc;
}

.product-details-info h1.fn.title {
    color: #b52e5a;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
}
.product-details-info h1.fn.title:before,
.product-details-info h1.fn.title:after {
    content: "";
    background: none;
}

.product-details-info .product-qty.widget-fingerprint-product-quantity {
    display: none;
}

.product-details span.product-price.price {
    color: #b52e5a;
    font-size: 16px;
    font-weight: bold;
}

.product-details .product-details-info .product-added-note, .product-quicklook .product-added-note {
    text-indent: 0;
    margin: 0px 0 8px;
    font-size: 12px;
    line-height: 1;
    color: #60ac70;
    vertical-align: middle;
}


/*** product-details-info *****/
.product-details-info .sku {
    font-size: 12px;
    color: #424242;
    text-indent: 0;
}


.product-details-info .add2cart {
    padding: 12px 20px;
    margin-bottom: 12px;
}
.product-details-info .add2cart span {
    padding: 15px 35px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.product-details-info .shipping { margin-bottom: 8px; }
.product-details-info .shipping i { font-size: 30px; color: #cb446d; text-indent: 10px; }
.product-details-info .shipping p { font-weight: bold; text-transform: uppercase; color: #424242; margin: 0; text-indent: 15px; }
.product-details-info .shipping a { font-size: 15px; }
.product-details-info .shipping small { font-size: 10px; }

.product-details-info .new-price {}
.product-details-info .new-price .name { color: #424242; font-size: 11px; text-indent: 0; margin-bottom: 2px; }
.product-details-info .new-price .price { color: rgba(221, 8, 0, 0.94); font-size: 28px; text-indent: 0; font-weight: bold; }

.product-details-info .old-price { color: #424242; }
.product-details-info .old-price .name { font-size: 11px; text-indent: 0; margin-bottom: 2px; }
.product-details-info .old-price .price { color: #cb4464; font-size: 18px; text-indent: 0; font-weight: bold; text-decoration: line-through; }

.product-details-info .old-price .price.no-through { text-decoration: none; }

.product-details-info .size-select { margin-bottom: 14px; }
.product-details-info .size-select .title { font-size: 11px; text-indent: 0; margin-bottom: 9px; }
.product-details-info .size-select label { border: 1px solid #ccc; border-radius: 3px; padding: 8px; cursor: pointer; color: #cb446d; margin: 0 8px;  }
.product-details-info .size-select label:hover {  color: #fff; background: #cb446d; }
.product-details-info .size-select input { display: none; }
.product-details-info .size-select input[type="radio"]:checked+label{ background: #cb446d; color: #fff; font-weight: bold; }

.product-details-info .description p { margin-bottom: 0; text-indent: 0; }


.no-sidebars ul.products-grid.grid-list li.product-cell:nth-child(4n) + li.product-cell {
    clear: initial;
}
 .no-sidebars ul.products-grid.grid-list li.product-cell {
    width: 33.333333%;
}

.lamarant .recommended-products ul.products-grid.grid-list li.product-cell:nth-child(3n) + li.product-cell { clear: left; }
