.sidebar-right {
    width: 209px;

}

.sidebar-right .section {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.sidebar-right .section.phone {
    border: 0;
    padding: 0;
    margin-bottom: 5px;
}

.sidebar-right .phone .col-xs-2,
.sidebar-right .phone .col-xs-10,
.sidebar-right .phone .col-xs-12,
.sidebar-right .phone .row {
    margin: 0;
    padding: 0;
}

.sidebar-right .phone i {
    margin-top: 10px;
    font-size: 30px;
    color: #cb446d;
}

.sidebar-right .phone .number {
    color: #9B9B9B;
}

.sidebar-right .phone .number a {
    font-size: 20px;
    font-weight: bold;
    color: #cb446d;
}

.sidebar-right .phone .number small {
    font-size: 11px;
    text-transform: uppercase;
}

.sidebar-right .phone .call-order-form {
    display: table;
    margin: 5px auto 0 auto;
    font-size: 16px;
    color: #cb446d;
}

.sidebar-right .section.banners {
    padding: 0;
    border: none;
}

