h1, h2, h3, h4, h5, h6, p, a, span {
    font-family: Verdana;
}

p {
    /* text-indent: 20px; */
    text-align: justify;
}


h1.original {
    color: #b52e5a;
    margin-bottom: 10px;
    text-align: left;
    text-transform: uppercase;
}
h1, h2.fancy {
    color: #424242;
    position: relative;
    font-size: 30px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    margin-top: 10px;
}

h1:not(.original) span,
h2.fancy span {
    padding-left: 15px;
    padding-right: 15px;
}
h1:not(.original):before,
h1:not(.original):after,
h2.fancy:before,
h2.fancy:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 2px;
    content: '\a0';
    background-color: #b52e5a;
}
h1:not(.original):before,
h2.fancy:before {
    margin-left: -50%;
    text-align: right;
}

a,
a * {
    cursor: pointer;
}

.pink {
    color: #e13166;
    font-weight: bold;
}
