{* vim: set ts=2 sw=2 sts=2 et: *}

{**
 * Qiwi payment mobile phone input form
 *
 * @author    Qualiteam software Ltd <info@x-cart.com>
 * @copyright Copyright (c) 2011-2014 Qualiteam software Ltd <info@x-cart.com>. All rights reserved
 * @license   http://www.x-cart.com/license-agreement.html X-Cart 5 License Agreement
 * @link      http://www.x-cart.com/
 *}

<ul class="form">
  <li><widget class="XLite\Module\XC\Qiwi\View\FormField\Input\Text\Phone" /></li>
</ul>
