/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Layout styles
 *
 * @author    Qualiteam software Ltd <info@x-cart.com>
 * @copyright Copyright (c) 2011-2014 Qualiteam software Ltd <info@x-cart.com>. All rights reserved
 * @license   http://www.x-cart.com/license-agreement.html X-Cart 5 License Agreement
 * @link      http://www.x-cart.com/
 */

.items-list.labels ul.lng-marks span.open-edit-box {
  width: 100px;
}

.addons-search-box .search-form input#substring {
  width: 280px;
}

.tags-list-box {
  right: -39px;
}

.banner-info .addons-search-box {
  right: -100px;
}

#top-links li.help div {
  min-width: 210px;
}

.items-list-table.attribute_options table.list {
  width: 626px;
}

.model-form-buttons {
  padding-left: 373px;
}

.download-box.begin-download {
  width: 945px;
  margin-left: 123px;
}

.download-box .subcontent .pack {
  width: 330px;    
}
